[2015-04-23 20:42] nandhusriram opened #12 "Clarification"
How to register with hostname address, I do see only options to set port ?

[2015-04-23 20:43] rickfast commented on #12
The hostname is typically provided by the locally running Consul agent.  Are you trying to register with a remote Consul server?

[2015-04-24 00:00] nandhusriram commented on #12
I am trying to register a both local and remote  restful service to  locally running consul agent  .

[2015-04-24 02:44] rickfast commented on #12
Ah.  I will add Address to the Registration class this week and release a new version. That will allow you to specify a specific host name or IP address.

[2015-04-24 02:53] nandhusriram commented on #12
Thanks

[2015-04-24 11:53] rickfast commented on #12
I've added ```Address``` to the ```Registration``` object.  To register a remote service with the local agent use ```AgentClient.register(Registration registration)```

[2015-04-24 11:53] #12 closed

[2015-04-24 11:53] rickfast commented on #12
Will release 0.8.3 today

[2015-05-06 13:14] vkostetski opened #15 "HTTP checks"
Will you provide HTTP-checks for services?

[2015-05-06 13:48] rickfast commented on #15
Yes. We already do (unless I am misunderstanding the question).  See AgentClient

[2015-05-06 13:52] vkostetski commented on #15
Consul checks has 3 types: script + interval, http + interval, ttl.
In AgentClient.Checks realization i see only following properties: script, interval and ttl, which cover only 2 types.

[2015-05-06 14:25] rickfast commented on #15
ah.  I see it on the consul docs.  New feature.  I will implement this today.  Thanks!

[2015-05-06 16:22] rickfast commented on #15
This work is done via commit <https://github.com/OrbitzWorldwide/consul-client/commit/c3ab7b069507aa72dca8617a5e7f27e45362cebe> . I will release it with 0.8.4

[2015-05-06 16:22] #15 closed

[2015-05-31 11:42] Suvitruf opened #24 "Add static method in State to get it by name"
Hi.
When I use this lib, I need to compare result of `HealthClient.getHealthyServiceInstances` and `HealthClient.getAllServiceInstances` with `State`.

But in `HealthCheck` class status represents as string. So, mb it's not bad idea to make method for getting State by it's name like c6b022f8d1cd2250d359f9600d88b6037712552e ?

[2015-05-31 12:22] rickfast commented on #24
sounds good.  make a pull request with the change and I'll merge it.  thanks!

[2015-05-31 12:29] Suvitruf commented on #24
Ok. Did it #25
But this pull request has to many useless commits also =/

[2015-05-31 13:23] rickfast commented on #24
See https://github.com/OrbitzWorldwide/consul-client/commit/0dea4d08f6b54dfd64224e6a4b0e8bf4d7bf7740

[2015-05-31 13:23] #24 closed

[2015-06-03 13:46] kongchen opened #28 "register interface do not have address field"
Hi there,

I'm curious about the register api, according to https://www.consul.io/docs/agent/services.html:

I start my service at server **A**, and the consul server agent runs on server **B**, and I use the Consul client's to register my service and I noticed the `Address` in request is null. In my understanding the Consul server will use **A**'s ip address but actually it uses **B**'s address a

[2015-06-04 09:08] kongchen commented on #28
Close this issue for misunderstanding Consul's agent.

[2015-06-04 09:08] #28 closed

[2015-06-18 16:58] hotmeatballsoup opened #31 "Add client support for Watches"
It would be great if real-time notification of config changes (KV data changes) were possible on the client-side.

I *believe* this concept is supported in the "raw" Consult API via [watches](https://consul.io/docs/agent/watches.html), however I don't see that concept supported by this library.

The idea is simple:
* Allow clients to register their own callbacks/watches with the Consul cluster
* T

[2015-06-18 17:37] rickfast commented on #31
We do support this already.  We actually use this concept in production.  Notice the methods in the kv client and health client that accept callbacks.  Although not all of the "watchable" endpoints have been implemented.  The plumbing is there.

[2015-06-18 17:47] hotmeatballsoup commented on #31
Very nice! Are these `ConsulResponseCallback` based on polling or are they *actually* real callbacks, as "pushed" from the Consul server?

[2015-06-18 17:48] rickfast commented on #31
The only other way I see to implement watches is with the "handler" approach, which involves giving Consul a script to execute when watched attributes change.  This seems out of scope for this client.

[2015-06-18 17:49] rickfast commented on #31
They're based on long polling.  I don't see another way to implement it using the HTTP API.

[2015-06-18 18:02] hotmeatballsoup commented on #31
Sure, ok thanks for the help here I'll close the ticket!

[2015-06-18 18:06] #31 closed

[2015-06-19 06:36] norbertpotocki opened #32 "Publish artifacts to maven central"
Hi,

could you please publish consul-client to maven central repository?

[2015-06-19 21:18] rickfast commented on #32
I can try to do this next week, but I'm out of town at the moment.  Is there a reason you can't use JCenter?

[2015-06-23 07:50] kongchen opened #33 "Agent join is not supported"
https://www.consul.io/docs/agent/http/agent.html#agent_join

I didn't find join method in `AgentClient`, could anyone help?

[2015-06-23 13:40] rickfast commented on #33
I will add it today.  Thanks!

[2015-06-23 15:39] rickfast commented on #33
Fixed by https://github.com/OrbitzWorldwide/consul-client/commit/5173099db307554e66eec05f6b9d22fab07fe445

I will cut a release in a little bit.

[2015-06-23 15:39] #33 closed

[2015-06-23 16:14] rickfast commented on #33
FYI ```0.9.5``` is now available with this change.

[2015-06-23 19:14] hotmeatballsoup commented on #32
I can't speak for norbert but my guess is that I'm not the only one who can't resolve the jar.

I think your JCenter coordinates may be hosed. The [JCenter link](http://dl.bintray.com/orbitz/consul-client/com/orbitz/consul/consul-client/0.9.5/#consul-client-0.9.5.jar) on your `README.md` gives a "`The requested path was not found.`"-error and the jar is not resolving when I run Gradle locally.

To

[2015-06-23 19:18] rickfast commented on #32
Interesting.  We cache JCenter in Artifactory and haven't had a problem.  I'll work to resolve this

[2015-06-23 19:21] rickfast commented on #32
JCenter path got borked on this release.  When I'm back at my laptop I will resolve

[2015-06-23 19:23] hotmeatballsoup commented on #32
Thank you! BTW not complaining here, this is a great lib you're providing here, much appreciated!

[2015-06-24 02:20] rickfast commented on #32
No worries.  It was my bad.  The artifacts have been re-published (correctly).  Let me know if there's any other issues.

@norbertpotocki - I will be back at work Thursday, and I will see what I can do about publishing to Central.

[2015-06-24 17:38] norbertpotocki commented on #32
Thanks @rickfast. I'm using your library as a dependency for my [configuration library](https://github.com/cfg4j/cfg4j) which is hosted only on Maven Central for now. So all my users need to add both repositories for the dependency to be found. I'm going to publish to JCenter to fix that soon.

I also noticed that some maven users prefer (or have) to stick to the default repo and can't use JCenter

[2015-06-24 17:42] rickfast commented on #32
No problem.  I did the initial work with Sonatype to get accepted, I just have to set up a user token or something to sync between JCenter and Central.  Once I'm back in the office I'll tackle it.  Thanks for the patience!

[2015-06-26 01:59] rickfast commented on #32
@norbertpotocki I have released ```0.9.6-RC1``` to Central.  Give it a whirl and if everything's good, I'll close this ticket.  Enjoy.

[code]

[2015-06-26 06:03] norbertpotocki commented on #32
Thanks, works great. Out of curiosity - why RC1 on maven central and GA on jcenter?

[2015-06-26 09:53] rickfast commented on #32
RC1 was just a test.  I will sync GA today.  Thanks!

[2015-06-26 09:53] #32 closed

[2015-06-26 12:46] rickfast commented on #32
```0.9.6``` is now available

[2015-06-28 05:46] kongchen commented on #33
Thanks!

[2015-06-29 22:06] nandhusriram opened #34 "Member from Agent Domain Object"
Is there a reason why member not exposed from  the Agent  object ?

[2015-06-29 22:39] rickfast commented on #34
No.  Looks like it was omitted by accident.   Feel free to send a PR, or I will fix it when I get to a computer

[2015-06-30 13:45] rickfast commented on #34
fixed by 3d262d6c1335941829075edd9b517670ddb34f1e

[2015-06-30 13:45] #34 closed

[2015-07-06 15:42] bearrito opened #36 "Documention appears incorrect for Pass/Check"
In the README we see `agent.pass()` while the agent pass signature requires a `agent.pass(checkId)`

It isn't clear that this checkId is the same as the serviceId. Using the serviceId as the checkId doesn't work for me.

[2015-07-06 15:51] rickfast commented on #36
Looks like I've done a poor job keeping the README in sync with the code.  The agent check methods have changed significantly.  I will update the docs soon.

[2015-07-06 17:58] rickfast commented on #36
Calling ```pass()``` with your service ID should prepend ```service:``` to create the Check ID that was created when you registered your service.

So if your service ID is ```my-service```, you should be able to just call ```pass``` with that as the parameter.

[2015-07-06 20:42] rickfast commented on #36
33b8e5dd54f0f2ede2aa885ce1945e9220c3ec19 and e3e630a7007410de03aa71204242b66b26f1a74d should clear this up.  Let me know if it does and I will close this issue.

A pull request a few months again added in the ```service:``` prefix to any check using the ```pass/warn/fail``` convenience methods.  I added another set ```passCheck/warnCheck/failCheck``` that can be used for non-service level checks.

[2015-07-06 22:26] bearrito commented on #36
LGTM.

[2015-07-06 22:26] #36 closed

[2015-07-20 17:12] weberr13 opened #37 "Open connections increasing without cleaning up"
I am using consul to maintain a resource lock.  My basic logic is:

run, Consul.newClient(), and cache it
run consul.sessionClient.createSession() and cache it
run consul.keyValueClient().aquireLock()

once that is done I have a loop that every second runs:
consul.agentClient().ping()
consul.sessionClient().renewSession(...)
consul.keyValueClient().getSession(key)
... .isPresent()
..  .get() == se

[2015-07-20 17:29] rickfast commented on #37
We have had that problem actually.  Calling ```.ping()``` (which in turn hits the ```/agent/self```) endpoint even at a slow-ish pace can eventually cause Consul to stop accepting connections.  We think the problem is on the Consul side and that Consul is doing something weird on this endpoint.

Can you try your logic without ```agentClient().ping()``` and let me know if that fixes it?

[2015-07-20 17:37] rickfast commented on #37
I just read this:

type is not InputStream.

BUT - ```ping()``` just calls ```.getStatusInfo()``` on the CXF response.  I'm going to push a change to ping... would you mind building locally and trying it out?

[2015-07-20 17:38] rickfast commented on #37
here's the possible fix: 9fdc9d0a7db4ce910e38c705cceb2e6c5067f680

[2015-07-20 17:55] rickfast commented on #37
here's the fix: 1468aa8c90eb0710a030f3221dcd352a600da797

[2015-07-20 18:19] tartale commented on #37
@rickfast I'm one of @weberr13 's colleagues, trying to drop the changes in right now... stay tuned!

[2015-07-20 19:12] tartale commented on #37
@rickfast The ping change looked like it worked; I applied the same logic to the session renewal (which had the same issue) and put up a PR.

With both changes, this issue would be resolved for us

[2015-07-20 19:18] rickfast commented on #37
Cool.  Nice find.  I'll go in and find all of the other possible places the connections aren't being closed.  I will cut you guys a release (0.9.7) right now.

[2015-07-20 19:18] #37 closed

[2015-07-20 19:25] rickfast commented on #37
```0.9.7``` is now available in JCenter and Maven Central

[2015-07-20 19:28] tartale commented on #37
cool thanks dude!

[2015-07-26 02:34] bearrito opened #40 "Serialization Discrepancy in SessionInfo"
**Serialization**
The SessionInfo seems unable to parse SessionInfo with non-null TTL

The below json fails to post using  sessionClient.createSession
[code]

The below json works using  sessionClient.createSession (addition of s to TTL)
[code]

This seems supported by the docs : https://www.consul.io/docs/agent/http/session.html#session_create

**Deserialization**
However SessionInfo TTL is a Lon

[2015-07-26 11:31] rickfast commented on #40
Looks like a real issue.  Feel free to send a PR, or I can fix next week when I'm back at work.

[2015-07-26 23:46] rickfast commented on #40
Fixed by 5a12ecc591709d4d45e855d809fd470589060ae2

[2015-07-26 23:46] #40 closed

[2015-07-31 19:55] gjesse opened #42 "Immutables & java8"
I have been looking over the code, and I think it could benefit from something like the following : https://github.com/gjesse/consul-client/commit/e11c04a67e9329f2fd3d74eb8fc0a741869921df

If this is something you'd be interested in, I can take a crack at updating the remaining model classes for it.

Also, is there any chance of updating this library to java8?

[2015-07-31 20:19] rickfast commented on #42
Originally I made this lib w/ Java 8, but there are a number of consumers on older versions of Java.

I'll take a peek at the immutable stuff this weekend and get back at you.

Thanks!

[2015-08-03 16:47] rickfast commented on #42
I like the immutable idea.  I wonder if we can do it but leave "get" on the accessors.  This is mostly so upgrades to 0.9.8+ aren't painful.

[2015-08-04 15:40] #42 closed

[2015-08-04 15:43] gjesse opened #48 "null kv values"
Calling something like $ ```curl -X PUT "127.0.0.1:8500/v1/kv/put/a/null/val"```
 is valid for consul, creates a key representation like so:

[code]

 however the cxf library doesn't allow null entity bodies. I tried a few different versions (they are up to 3.1.1 now) but they all failed with a similar stack trace:

[code]

example test:

[code]

[2015-08-11 11:01] egulias commented on #48
I think `null` in your test should be a `String` and not the type, since the request you put as an example is interpreting `null` as a `String` not as a "null" value.

[2015-08-11 16:47] gjesse commented on #48
It doesn't make any difference - null is not a type. I think what you're saying is something like this ??

[code]

which has exactly the same result

[2015-08-11 16:48] gjesse commented on #48
I looked this a bit more and I think I have a reasonable solution

[2015-08-11 17:44] egulias commented on #48
Well, I was thinking that what you send with curl is more similar to
String val = "null";
If I wanted to send a curl with null value I'd send
curl -X PUT "127.0.0.1:8500/v1/kv/put/a/key/"
That's a null value for `key` or
curl -X PUT "127.0.0.1:8500/v1/kv/put/a//val".
Because I think `null` in the request is translated to the String " null"
no to a null value.
El 11/8/2015 6:49 p. m., "Jesse Hodges

[2015-08-11 18:56] gjesse commented on #48
"null" as a string is not the same as a null value, and consul does not treat it as such.

For example, put an empty body request vs "null" as the value and see that the output is not the same

[code]

[2015-08-11 19:10] gjesse commented on #48
closing this, should be fixed now

[2015-08-11 19:10] #48 closed

[2015-08-14 11:29] GLE81 opened #56 "Error establiching connection with consul server"
Hi,

I'm trying to integrate consul-client in my webapplication. I'm executing a test where everytime that the library try to connect to the consul server retrieve the following error "java.lang.NoSuchMethodError: javax.ws.rs.core.Response.close()V" in the line 79 of agentClient. I tried to debug or fix this error but every source code I download doesn't compile, it has errors of no class found li

[2015-08-14 12:17] rickfast commented on #56
Hi
Looks like a JAX-RS version conflict on your classpath.  As far as ```ImmutableCheck``` goes, this is a new change in 0.9.8 that I think might still need some work.  The class in question is supposed to be generated dynamically, but a number of people have had issues with it.  Suggest you try 0.9.7 instead, which is quite stable.  I'm working to fix issues with 0.9.8.

[2015-08-14 14:45] gjesse commented on #56
For the Immutable* classes you need to setup your IDE to process the annotations - see http://immutables.github.io/apt.html for more info. (Note I also had to manually mark the 'generated-sources' folder as a "generated source root" in intellij)

@rickfast unless you are thinking of removing these i can add some instructions to the README about it

[2015-08-14 14:47] gjesse commented on #56
Also, I @GLE81, I tried replicating your error with a minimal setup and it worked fine, so I think Rick is correct about the source of your original issue.

[2015-08-14 14:47] rickfast commented on #56
I haven't played with 0.9.8 yet, but a coworker had issues.  We should add a Development section on the README.

[2015-08-14 14:50] rickfast commented on #56
@GLE81 you should have ```javax.ws.rs:javax.ws.rs-api:2.0.1``` on your classpath, and no other JAX-RS API versions.

If you're using Gradle, you can inspect version clashes with
[code]
which will show if there's two versions on the classpath.

[2015-08-14 14:52] gjesse commented on #56
I can write something up today for it

[2015-08-17 09:19] GLE81 commented on #56
Hi,

I tried with version 0.9.7 and dependency javax.ws.rs:javax.ws.rs-api:2.0.1 and it still doesn't work. I'm continuing looking if I can find the problem anyway here is my pom.xml.

<properties>
		<spring.version>4.0.9.RELEASE</spring.version>
		<log4j.version>1.2.17</log4j.version>
		<jdk.version>1.7</jdk.version>
		<context.path>SpringRestSecurityOauth</context.path>
		<spring.security.versio

[2015-08-17 11:58] GLE81 commented on #56
OK. I just imported the 0.9.7 source code in my workspace and now is working, I'm going to continue testing to find what happened when I use the library.

[2015-08-17 13:21] gjesse commented on #56
@GLE81, I'm not sure that's a good solution - likely it's altering the classpath in your dev environment, but it could be that the issue still occurs when you build for alternate environments.

I recommend that you run mvn dependency:tree from the command line - that will list all your dependencies, and their dependencies in turn to see which one is pulling in the conflicting javax.ws.rs-api   ver

[2015-08-17 14:28] hotmeatballsoup opened #58 "Consul patterns fro service discovery and config management"
@rickfast sorry to create an issue here, wasn't sure how else to reach out to you/your team. The following is becoming a fascinating debate at my workplace, and I was wondering if you had any wisdom/knowledge to share from your experiences implementing Consul on the client-side:

http://stackoverflow.com/questions/32052941/consul-patterns-for-service-discovery-and-config-management

Sorry to incon

[2015-08-17 17:33] hotmeatballsoup commented on #58
Well, to my dismay the question was put on hold. However I was hoping someone here might be able to speak to it anyway. The one dev that answered claims to use a "consul agent/app/orbitz client/ribbon" stack, but to me, that seems *almost* as complicated as Airbnb's "smart" stack.

[2015-08-17 18:24] rickfast commented on #58
The Ribbon approach is likely using the Consul support Spring recently added, which is heavily coupled to the Netflix stack.

I was going to answer the question, but as you said, it's on hold.  Not saying our approach is the best, but it's relatively simple and has been working in production for half a year.

[2015-08-17 18:31] hotmeatballsoup commented on #58
Thanks for the update @rickfast - I guess to me, the Airbnb "Smart Stack" and this other user's "Ribbon Stack" both seem convoluted to me, although I'm a total Consul newbie.

As a Java developer, I'd prefer to keep as much of my app logic in Java, and so if the Orbitz Consul/Java client allows me to do everything that these other stacks accomplish, then I'd prefer to just stick with it and not ad

[2015-08-17 18:49] looztra commented on #58
Hoy! I'm the dev that answered on SO before the question was put in hold.

I forgot to mention an important point in my SO answer: we know for sure that one day something will fail, hence we chose to use the netflix stack to help us deal with that.

So our http clients rely on *Hystrix* that relies on *Ribbon* for software lb, that relies on *Consul* for server discovery.

I don't think you can "s

[2015-08-17 18:51] rickfast commented on #58
There's one layer above the basic Consul Client functionality that we have built internally at Orbitz. This is the layer that actually does the in memory caching of service registrations and load balancing.  Ours is implemented as a Spring Boot autoconfiguration that every one of our services use.  Each Mesos slave that our services run on has a Consul agent that is configured and managed by Chef,

[2015-08-17 20:10] hotmeatballsoup commented on #58
This is starting to make more sense to me - thanks @rickfast and @looztra.

I think I'll need to set up both options and compare them side by side. To me these additional "layers" still are a fuzzy concept to me (caching/registrations, monitoring, failover, etc.) and once I see a smart stack-like setup compared to just using the "raw" Orbitz client, it should become pretty obvious as to why these

[2015-08-17 20:12] rickfast commented on #58
@hotmeatballsoup I'm actually working on a screencast course for O'Reilly now on this exact subject (also Docker, Mesos, Monitoring, etc).  Unfortunately,

[2015-08-17 20:12] #58 closed

[2015-08-17 20:35] hotmeatballsoup commented on #58
Good to know! Please keep this issue (and maybe me :-) ) in mind when its publicly available!

[2015-09-04 08:45] vkostetski opened #59 "Add ability to register multiple checks per service"
This feature has not benn published in docs yet, but this request works fine:
Req: http://.../v1/agent/service/register
Body:
{
  "ID": "crab_net",
  "Name": "crab_net",
  "Tags": [
    "master",
    "v1",
    "crab"
  ],
  "Address": "...",
  "Port": 22037,
  "Checks": [{
    "HTTP": "http://127.0.0.1:22037",
    "Interval": "10s"
  },
  {
    "HTTP": "http://127.0.0.1:22038",
    "Interval": "30

[2015-09-06 07:56] Suvitruf opened #61 "ImmutablePutOptions is missing"
You are using `com.orbitz.consul.option.ImmutablePutOptions`, but there is no such class in `com.orbitz.consul.option` package. Did you forget to commit this file?

[2015-09-06 09:42] Suvitruf commented on #61
Same for `ImmutableEventResponse` and etc.

[2015-09-06 14:41] rickfast commented on #61
These classes are generated. Are you working with the source code?

[2015-09-06 14:42] rickfast commented on #61
There are instructions in the read about the generated classes

[2015-09-06 14:44] rickfast commented on #59
We can support this. I will try and find time this week to investigate. Pull requests welcome!

[2015-09-06 19:18] gjesse commented on #59
i'd be happy to take a crack at it, will have a bit of time this afternoon to check it out

[2015-09-07 07:45] Suvitruf commented on #61
Yeh, I tried to add gen-tool to Eclipse project settings like mentioned here https://immutables.github.io/apt.html
But still can't compile library.

[2015-09-07 15:35] gjesse commented on #61
Their instructions are a bit difficult to grok, but I was able to get ecplipse to compile by following the second part of the instructions -- enable annotation processing, then extend the M2_REPO variable to include the immutables annotation processor. One thing is that documentation is out of date in that it tells you the wrong jar to include - it should be org/immutables/value/2.0.16/value-2.0.1

[2015-09-07 15:55] Suvitruf commented on #61
@gjesse wow, thanks. Now it works )

[2015-09-07 16:02] #61 closed

[2015-09-07 16:05] gjesse commented on #61
cool, i'll add this to the readme :)

[2015-09-07 19:00] #59 closed

[2015-09-08 14:55] rickfast commented on #59
this feature is released in ```com.orbitz.consul:consul-client:0.9.10```

[2015-09-11 19:13] hotmeatballsoup opened #64 "Securing HTTP API calls with ACLs?"
Admittedly I am a total Consul neophyte, so this request might not even make sense.

I'd like to enforce auth on my Consul server's exposed HTTP API. If I'm understanding the [security docs](https://www.consul.io/docs/internals/acl.html) correctly, their HTTP API can be secured by enforcing ACL policies. If that's the case, then I need to add/config those policies on the Consul servers, and then m

[2015-09-12 15:30] rickfast commented on #64
Token request parameters were added to the HTTP API after this library was built.  Any method that accepts ```QueryOptions``` can take an ACL token.  Still needs to be added elsewhere.  PRs welcome!

[2015-09-15 15:15] hotmeatballsoup commented on #64
I'm on it @rickfast - what are your general thoughts here? It seems that each `*Option` class extends `ParamAdder`, so perhaps move [`getToken()`](https://github.com/OrbitzWorldwide/consul-client/blob/master/src/main/java/com/orbitz/consul/option/QueryOptions.java#L21) up into the `ParamAdder` parent?

Correct me if I'm wrong here, but I think this *should* (famous last words) be as simple as givi

[2015-09-15 15:54] gjesse commented on #64
I have a few thoughts on this -- QueryOptions already will add the token to the query if specified, it shouldn't get pushed into ParamAdder.

Most methods have a variation that takes QueryOptions already, for example  getValue(String key, QueryOptions queryOptions), so these can easily support tokens.

However PutOptions and EventOptions used by KeyValue & EventClient respectively, do not supprt a

[2015-09-15 15:56] rickfast commented on #64
Only a handful of the endpoints accept the token query parameter.  We should probably figure out which ones need this functionality and go from there.

[2015-09-15 16:04] hotmeatballsoup commented on #64
I'll review the endpoints and post back a list of those that I find as accepting token params, just to get things started.

@gjesse , I'm so new to Consul this is an embarrassing question, but how would we secure the ACL client itself?!? If the idea of adding token params to the other endpoints is to enforce authorization, then if we add a new ACL client (that can create its own ACL tokens!), it s

[2015-09-15 16:08] gjesse commented on #64
@rickfast , You're right.. i thought i read somewhere that it was everywhere

@hotmeatballsoup I just meant adding an AclClient class similar to KeyValueClient, HealthClient, etc. We don't need to do anything special about auth, but make sure these methods do support token use. It looks like from a brief reading of the docs that the methods there require a management token to work.

Honestly, if y

[2015-09-15 16:44] hotmeatballsoup commented on #64
Looks like there isn't great documentation on which endpoints currently support tokens. As of 0.5 all KV endpoints support it, and "some" agent endpoints support it. As of 0.6 this will be expanded to most of the other endpoints.

For now, it looks like there's no harm (from Consul's perspective) to send ACL tokens to *any* endpoint. Those endpoints that don't support them will just ignore them.

[2015-09-15 17:03] rickfast commented on #64
I'd rather not, just because it could be confusing to see the option to pass things like WAIT and INDEX to an unrelated endpoint.  That being said, I don't have a clean design idea off the top of my head (which is why I haven't just added something), so I'm open to whatever.

[2015-09-15 18:37] hotmeatballsoup commented on #64
That's reasonable. How about this (so we can keep this moving forward):

* How about I take a stab at an `AclClient`; and
* I'll add optional `QueryOption` support for the KV/catalog endpoints that I need, in areas where I see it is missing

Then you guys can tell me how much my `AclClient` sucks (!), and the Orbitz client gains some additional `QueryOption` support, but without sprawling it all o

[2015-09-15 18:39] hotmeatballsoup commented on #64
And, if that sounds good, I'm not seeing any contribution guidelines in the README, so just let me know if there is anything specific I need to pay special attention to prior to submitting a PR (this is your baby, I'll happily oblige any requests).

[2015-09-15 18:42] rickfast commented on #64
write tests, and don't make it hard for applications to upgrade :)

[2015-09-15 20:05] hotmeatballsoup commented on #64
Will do!

Quick question: I forked and cloned locally and then ran `./gradlew clean build` and got a *ton* of errors all stemming from Gradle's inability to find all the Immutables-generated classes.

I've never worked with Immutables before, and never worked with annotation processors in Gradle. What's the Gradle invocation to build the consul-client from the command-line? Thanks!

[2015-09-15 20:31] gjesse commented on #64
although the library is compiled for java6, you need at least java7 to do the annotation processing - the command you supplied should 'just work', for ide integration there are a few other steps (see the README), but i would suggest checking java -version first.

[2015-09-15 20:36] hotmeatballsoup commented on #64
Ahh that's probably the issue. I'm on Java 8 locally, I'll see if I can force Gradle to use a Java 7 JDK...

[2015-09-15 20:47] hotmeatballsoup commented on #64
@gjesse I added the following to `build.gradle` with the same results:

    sourceCompatibility = '1.7'
    targetCompatibility = '1.7'

As for actually specifying a non-default JDK in Gradle it looks like I could also add:

    compileJava.options.fork = true
    compileJava.options.forkOptions.executable = /path_to_javac

However I'm on a Mac, and [apparently it's not possible to have multiple J

[2015-09-15 21:56] gjesse commented on #64
java8 should be fine, that's what I use. Also on a mac, and use multiple
jdks by manipulating JAVA_HOME as needed, works fine.

special/additional config? Thanks again!

I am not a gradle expert at all, mostly I use maven -- that said, this is
what I found to be true, that I didn't have to specify any additional
config to build this.

On Tue, Sep 15, 2015 at 3:47 PM, hotmeatballsoup <notifications

[2015-09-16 00:10] rickfast commented on #64
Can confirm the Gradle build doesn't require any special configuration

[2015-09-16 00:28] hotmeatballsoup commented on #64
Sorry to be a pain here guys, but take a look at my [gist](https://gist.github.com/hotmeatballsoup/456ab8eb4c962bee9837). That's the output I get from running:

    ./gradle clean build > gradle-out.txt

...from the project root. These are (mostly) `ConnectionExceptions`...I have Consul installed locally (I can verify by the output of `consul -v`, but is Consul supposed to be running in some kind

[2015-09-16 12:06] rickfast commented on #64
No worries, we appreciate your help.  Here's the exact commands that the Codeship build executes prior to building:

[code]

Obviously you don't need to download consul each time.  Just nuke the ```data``` directory.

Let me know if that works.

[2015-09-16 14:44] hotmeatballsoup commented on #64
Thanks @rickfast so I sort-of have this working now. If I open two terminals, and run consul from the first one (using the `consul agent -server -bootstrap -data-dir data` and excluding the `nohup` and trailing `&`), and run `./gradlew clean build` from the second one, I am now getting the build passing, but there are *many* warnings and 6 errors still complaining that it can't find the generated

[2015-09-20 17:44] JensRantil opened #65 "ConsulCache can't be stopped"
...only started. Needed for proper shutdown.

[2015-09-20 20:11] JensRantil commented on #64
Hey, just stumbled across this issue today. I know I'm joining the discussion rather late, but wouldn't it make sense to also be able to set a global `token` for a `Consul` instance? It feels like the most common `token` usage is to set it once on application startup and then reuse it for the rest of the application life-cycle.

Or maybe there is already some kind of support to set default `QueryO

[2015-09-21 08:16] JensRantil opened #66 "Missing fields for session creation"
The [Consul documentation on sessions](https://www.consul.io/docs/agent/http/session.html#session_create) states that one can specify the following fields when creating a session:
[code]
Based on the methods on the `SessionClient`, it looks like only `Name` (parameter name `value` I assume is name) can be given. Let me know if I've missed something.

[2015-09-21 14:34] gjesse commented on #65
good point - my usage of it so far has been for the lifetime of the jvm so it hasn't been necessary to have a separate stop method. I can look at adding a shutdown mechanism this week.

[2015-09-21 14:42] JensRantil commented on #65
:+1:

[2015-09-21 19:41] rickfast commented on #64
I thought about this. Are there use cases where you would need a different token for different API calls? If not, then I'm okay with this solution.

[2015-09-21 19:46] rickfast commented on #66
For some reason, the session client takes JSON as a string. I haven't fixed it yet, and I wasn't very diligent when I reviewed the session client pull request. I can fix.

[2015-09-21 19:47] hotmeatballsoup commented on #64
My only hesitation here is that, based on what I've read in the docs, there are essentially "management tokens" (used for things like the ACL service, and "user tokens" used for anything else. In this sense it may be desirable to have 2+ tokens per app instance.

[2015-09-22 07:58] JensRantil commented on #64
@hotmeatballsoup AFAIK there are two types of ACL tokens; "managenent" and "client" (ref: https://www.consul.io/docs/internals/acl.html). However, I haven't seen anything hinting at Consul distinguishing between the two types in terms of API access. That is, we should be fine in terms of that.

Probably. You could have a specific K/V scope only accessible to certain applications, while using a mor

[2015-09-22 09:16] JensRantil commented on #66
@rickfast Awesome. :+1:

[2015-09-22 09:25] hotmeatballsoup commented on #64
@JensRantil sounds good!

Anybody else, I'm having a real tough time with Eclipse and Gradle generating the Immutables sources. Following the instructions on this project's README, when I go to extend the `M2_REPO` variable, I'm not seeing an "`immutables`" nor a "`org/immutables/value/2.0.16/value-2.0.16.jar`" in that dialog. Is there something I need to include elsewhere in Eclipse to make this

[2015-09-24 20:39] #65 closed

[2015-10-05 15:33] decoomanj opened #68 "ID field on service check"
I can't add an ID to the service checks. According to the Consul docs, it works. Could you add support for that?

[2015-10-06 07:32] decoomanj commented on #68
My mistake.... closing....

[2015-10-06 07:32] #68 closed

[2015-10-12 21:38] dnance commented on #28
I do not understand why this issue was closed.  I think it should be reopened.  When I use the http agent registration API I can supply a serviceAddress which populates the serviceAddress field.  When I use the Consul-client AgentClient there isn't anyway to register a service with a different serviceAddress than that of the agent it is connected.

[2015-10-14 15:59] ckstettler opened #69 "thread safety?"
Not sure if this is the correct forum... if not I apologize upfront.

We are looking to use this api and are wanting to understand a couple of points:

- is it thread safe?
- the examples show creating an instance with every lookup.  We are looking to use consul as an endpoint locator and could have a high volume of requests.  Should we pool client connections? use one? or create a new one everyti

[2015-10-14 19:46] gjesse commented on #69
I can't totally vouch for thread safety of the entire code base but in general you should be OK. there is very little mutable internal state, and the request/response model objects are immutable.

The underlying http connections are handled by your favorite jax-rs implementation, which should be fine. Depending on your implementation you can configure pooling for it. (ex for jersey: http://www.the

[2015-10-14 20:17] defucius commented on #66
Is there any progress on this addition? I also ran into an error when trying to read the session info by calling getSessionInfo(sessionId). The error seems to say the TTL value of "30s" cannot be demarshaled to a String?

command line result:

[{"CreateIndex":13491,"ID":"0de22989-9ad4-c5e5-b816-b2fdccde4336","Name":"","Node":"agent-pro","Checks":["serfHealth"],"LockDelay":15000000000,"Behavior":"r

[2015-10-15 00:55] rickfast commented on #69
I can vouch for the thread safety of the client. You definitely only need one instance per JVM.

[2015-10-16 13:21] rickfast commented on #66
Orbitz has been in the process of integration with Expedia the past two weeks, and I've been mostly unable to code. I should be able to tackle this early next week. Sorry for the slowness. As always, PRs welcome.

[2015-10-18 12:05] shanielh opened #70 "Renew session always returns true"
Even when session doesn't exists and the response was 404.

[2015-10-19 14:20] gjesse commented on #66
@rickfast , I was going to take a look at #70, but after checking out the existing code + this issue, it seems the lib would be better served by rewriting the session client. I may be able to put in some time on it this week, but I don't want to duplicate efforts as it's non-trivial. Are you still planning to work on this? want me to take a crack at it?

[2015-10-19 14:24] rickfast commented on #66
I'm actually rewriting it as we speak. I wish I had looked harder at the pull request with this. Should be ready in just a bit.

[2015-10-19 14:26] gjesse commented on #66
nice! i'll be happy to review it if u like

[2015-10-19 14:37] rickfast commented on #70
I'm reworking the Session stuff this morning. I'll make sure this works properly

[2015-10-19 15:13] #69 closed

[2015-10-19 15:14] rickfast commented on #70
Fixed with https://github.com/OrbitzWorldwide/consul-client/pull/71

[2015-10-19 15:14] #70 closed

[2015-10-19 15:15] rickfast commented on #66
Please: https://github.com/OrbitzWorldwide/consul-client/pull/71

[2015-10-19 15:15] rickfast commented on #56
@GLE81 is this still an issue? If not, I'm going to close this issue. Thanks

[2015-10-21 00:54] rickfast commented on #70
Change is on master (edfdd46ee3edb453a0a08173ed56b35189fb8e33). I will release ```0.9.11``` tomorrow with the fixes

[2015-10-23 01:18] rickfast commented on #66
Fixed by edfdd46ee3edb453a0a08173ed56b35189fb8e33

[2015-10-23 01:19] #56 closed

[2015-10-23 07:34] JensRantil commented on #66
Awesome! Do you think you could maybe make a release with this? :pray: ;)

[2015-10-23 12:57] rickfast commented on #66
Yup. I'll do it first thing this morning

[2015-10-23 16:14] JensRantil commented on #66
:heart:

[2015-10-23 17:29] rickfast commented on #66
```0.9.11``` is available in jcenter and central

[2015-10-24 15:24] JensRantil commented on #66
Sweet! Thanks!

[2015-10-28 18:38] defucius commented on #66
Have anyone tried to set the session parameters with the new implementation? It seems that creating a session would fail with a 400 Bad Request if the ttl or lockDelay is set. Creating an empty session or a session with name as a single parameter works as in the test class. I haven’t tried the other three parameters.

This is with Maven build, ConsulAgent 0.9.11. My code looks like this:

Session

[2015-10-29 13:25] rickfast commented on #66
Try ```"30s"```. Either way, I will add better tests and fix any issues. Thanks!

[2015-10-29 13:55] defucius commented on #66
“30s” works. Thanks!

[2015-11-01 23:22] JensRantil commented on #66
@rickfast I assume Consul returns some kind of error message on that 400. Would it make sense to try to parse the 400 error page and include it in the exception? Would make debugging errors like @defucius's much easier. Just an idea...

[2015-11-02 17:21] sid-saddala opened #72 "General question about popular integration patterns for service registration in consul"
I apologize upfront If this is not the right forum to ask about this.
Wanted to know popular patterns how developers are using this Orbitz's consul-client library for simple service registration/discovery?

When a producer creates a new service, should they use AgentClient.register() and also KeyValueClient. putValue(k,v) to complete registration? Are both required? (Here key being the service nam

[2015-11-02 21:11] JesperTerkelsen opened #73 "SSL/TLS support"
Currently its not possible to use this java client against a consul server with SSL enabled.
Or even specify the ``https`` protocol.

[2015-11-03 15:42] abiletskyi opened #74 "KeyValueClient.putValue with PutOptions is private"
putValue method with the PutOptions argument is not available for clients. Is there any way to put value with, say, 'cas' parameter specified?

[2015-11-04 18:33] rickfast commented on #73
I'll add the ability to provide an ```SslContext```. You can specify https if you supply a raw url as a string.

[2015-11-04 19:20] rickfast commented on #72
Hi - KV client is not needed for service registration. The typical pattern is for a service to register itself using ```AgentClient``` and for client services to discover registered instances using ```HealthClient.getHealthyServiceInstances```. I can make a gist sometime this week as an example

[2015-11-04 19:32] rickfast commented on #74
weird. fixed by 1599099f64a519d4d7fa7d38405f300a87b65e59.

[2015-11-04 19:32] #74 closed

[2015-11-04 19:32] rickfast commented on #66
Yeah, I can add this

[2015-11-04 19:48] rickfast commented on #73
Via 1599099f64a519d4d7fa7d38405f300a87b65e59 you can do something like this:

[code]

[2015-11-04 21:02] sid-saddala commented on #72
@rickfast That would be great.

[2015-11-05 13:08] JensRantil commented on #66
:+1:

[2015-11-05 14:14] JesperTerkelsen commented on #73
:+1: Nice this is just what i need!

[2015-11-05 14:20] #73 closed

[2015-11-05 14:57] gjesse commented on #72
there is an example you could follow for service discovery in the README

[code]

[2015-11-05 18:19] rickfast commented on #72
Here's a very simple, untested gist
https://gist.github.com/rickfast/5fd290fcf0a04f07d466

[2015-11-06 14:11] dnance opened #75 "Incorrect key in kvCache map"
It looks like the KVCache keyExtractor function is calling the substring method at the incorrect index.  I believe it should either be rootPath.length() or rootPath.length() - 1.  The '+ 1' returns a key that is missing the first couple characters.  The rootpath.length or rootpath.length - 1 just depends if you want the '/' or not.
KVCache.java
        final Function<Value, String> keyExtractor =

[2015-11-09 03:14] sid-saddala commented on #72
@rickfast Thanks much. I am closing the issue.

[2015-11-09 03:14] #72 closed

[2015-11-09 03:33] sid-saddala opened #76 "com.orbitz.consul.model.kv.Value - This class does not define a public default constructor, or the constructor raised an exception"
If it does not make sense or you think is not related, please feel free to close the issue.

Wanted to check quickly if any of the developers using the consul-client faced this error when used in conjunction with Spring framework. The error originates from this line of code -

[code]

Error -

[code]
I thought it may be an eclipse IDE related but got the same error when executed the code on Intell

[2015-11-10 12:19] tolwi opened #78 "Inconsistency between expected jackson deserialized collections classes and immutable collections in generated classes."
f.e.

`ServiceHealth`:

`
@JsonDeserialize(as = ArrayList.class, contentAs = HealthCheck.class)
public abstract List<HealthCheck> getChecks();
`

but in generated `ImmutableServiceHealth`:

`public ImmutableList<HealthCheck> getChecks() {..}`

To reproduce - just update all jackson dependencies to 2.6.3 and run tests.

[2015-11-10 13:10] rickfast commented on #78
I'll upgrade and get this fixed.  Thanks!

[2015-11-13 16:18] nickspat opened #79 "com.orbitz.consul.option.QueryOptionsBuilder missing"
As per your documentation for blocking query, com.orbitz.consul.option.QueryOptionsBuilder needs to be passed. I don't see that anywhere in any of the packages.

[2015-11-13 18:45] gjesse commented on #79
This was my bad, i didn't update those docs with the new style.

[2015-11-14 05:02] #75 closed

[2015-11-14 05:16] dnance commented on #76
I am facing the same issue using EclipseLink MOXy.  I believe it to be a JAXB marshalling/unmarshalling issue.  I tried making the class non-abstract, but did not really like that solution.  I think the correct solution is to provide a JAXB XmlAdapter.  There are two methods to accomplish this and I am researching them.  You can search the internet for JAXB, Abstract classes, and Immutable objects

[2015-11-15 10:07] amitgilad3 opened #81 "Consul Cache"
Hi ,
I am trying to use consul cache and i keep getting the following error :
 ERROR com.orbitz.consul.cache.ConsulCache - Error getting response from consul. will retry in 10 SECONDS

why do i get this error??

code example:
    LOGGER.info("Initializing consul cache!!!!!");
        com.orbitz.consul.Consul consul =  com.orbitz.consul.Consul.builder().build();
        KeyValueClient kvClient = co

[2015-11-17 15:22] nickspat commented on #79
I am still waiting for some working example or documentation update. I tried using KeyValueTests.testGetValuesAsync() , but i dont see a callback getting invoked.

[2015-11-17 20:26] gjesse commented on #79
you can take a look at https://github.com/gjesse/consul-client/commit/bbec378fc0bedeea20e2e0c716c31838131c6b91

[2015-11-17 22:03] nickspat commented on #79
Yep that worked with 1 minor change in the code. I have submitted the pull request.

[2015-11-17 22:03] #79 closed

[2015-11-17 22:14] nickspat opened #83 "Spring boot application throws Exception - FYI"
javax.ws.rs.client.ResponseProcessingException: Problem with reading the data, class java.util.List, ContentType: application/json.
	at org.apache.cxf.jaxrs.impl.ResponseImpl.reportMessageHandlerProblem(ResponseImpl.java:433) ~[cxf-rt-frontend-jaxrs-3.0.3.jar:3.0.3]
	at org.apache.cxf.jaxrs.impl.ResponseImpl.doReadEntity(ResponseImpl.java:378) ~[cxf-rt-frontend-jaxrs-3.0.3.jar:3.0.3]
	at org.apach

[2015-11-18 15:15] tolwi commented on #83
#78

[2015-11-18 21:35] sakno opened #84 "OSGi Support?"
Life would be easier if consul-client will support OSGi. Today I have to wrap your library into OSGi bundle using many manipulations: excluding some dependencies, adding OSGi-compliant MANIFEST.MF and many other things.

[2015-11-19 02:15] rickfast commented on #84
I can try to get to this in the next few weeks.  Pull requests welcome.

[2015-11-19 02:56] rickfast commented on #83
fixed by ac86124866c7c0f324d26707c4c30d5d43162802

[2015-11-19 02:56] #83 closed

[2015-11-19 02:56] rickfast commented on #78
fixed by ac86124866c7c0f324d26707c4c30d5d43162802

[2015-11-19 02:56] #78 closed

[2015-11-19 03:00] rickfast commented on #81
The Consul Client throws a ```TimeoutException``` when 10 seconds is up and no data is returned and the failure callback is executed. Likely, there's no problem. It's just a misleading log message.

[2015-11-19 03:02] rickfast commented on #76
I'm unable to reproduce. If anyone that can reproduce comes up with a solution, I'm all ears.

[2015-11-19 03:13] rickfast commented on #83
this fix is available now in ```0.9.14```

[2015-11-19 03:13] rickfast commented on #78
this fix is available now in ```0.9.14```

[2015-11-19 06:41] sakno commented on #84
I checked your dependencies. slf4j-api, Google Guava, jax-rs, javax-annotation and Jackson are OSGi bundles. So your dependencies are full OSGi-compliant, this is a good news. But pom.xml of consul-client must be rewritten completely: all dependencies should be declared as `<scope>provided</scope>`. This is not suitable for non-OSGi applications (each consumer must declare your dependencies explic

[2015-11-19 18:06] gjesse commented on #84
So IMO this library probably shouldn't support OSGI - it seems like the primary use case is for non-OSGI apps, so the burden should probably be on those who want it.

One option would be to publish your wrapper with dependencies/exclusions setup, with the correct manifests in a separate repo that pulls in consul-client.

Ultimately it's @rickfast's call but just wanted to drop my 2c in.

[2015-11-25 11:20] antoine-galataud opened #85 "Consistency mode not passed in request"
Hi,

Here is a sample of consul service discovery query using stale consistency mode:

[code]

In [QueryOptions](https://github.com/OrbitzWorldwide/consul-client/blob/master/src/main/java/com/orbitz/consul/option/QueryOptions.java), stale query parameter is added like this:
[code]

This doesn't seem to work: as stated in jersey [doc](https://jersey.java.net/apidocs/2.0/jersey/org/glassfish/jersey/

[2015-11-27 16:44] rickfast commented on #85
Looks like a bug. I'll fix. Thanks!

[2015-12-10 11:42] shanielh opened #86 "Connection Leaks :("
Hi,

I have a program which calls the acquire lock, release lock and delete key operations a lot of times (~ 1 per second).

When I run the command :

[code]

In the background, I can see the there are a lot of connections left open to the consul-agent until it reaches my ulimit.

[2015-12-11 19:23] rickfast commented on #86
i'll take a look this weekend

[2015-12-11 20:34] rickfast commented on #86
which JAX-RS implementation are you using?

[2015-12-11 20:35] shanielh commented on #86
I use the Apache one. 

—

שני.

On Fri, Dec 11, 2015 at 10:34 PM, Rick Fast <notifications@github.com>
wrote:

[2015-12-17 14:27] rickfast commented on #86
Fixed by be0e212016e3315afaeee36d630ac8329b666371

[2015-12-17 14:27] #86 closed

[2015-12-17 14:28] rickfast commented on #85
fixed by e22bfd084d000627a54d9bbfc81608d5e3ac6dfa

[2015-12-17 14:28] #85 closed

[2015-12-17 14:36] #81 closed

[2015-12-17 14:39] rickfast commented on #86
I had a few minutes this morning to take a look at this. We had a similar problem with the agent client. I made sure the response is explicitly close. Please try with ```0.9.15``` and re-open if you have issues.

[2015-12-18 11:36] shanielh commented on #86
I confirm that it works :+1:

My test code

[code]

[2015-12-20 08:06] dimagol1989 commented on #81
It is a problem. every TimeoutException we have a printing to log, and kvClient.getValues method is executed again. so the watchTimeout(KVCache argument) is useless.

The exception caused from using:
'org.apache.cxf:cxf-rt-rs-client:3.0.3'
'org.apache.cxf:cxf-rt-transports-http-hc:3.0.3'

solve this in my program by switching to:
'org.glassfish.jersey.core:jersey-client:2.22.1'
'javax.ws.rs:javax.

[2015-12-22 23:47] jhovell commented on #76
@rickfast @sid-saddala this is likely an issue with the configuration of your runtime javax.ws.rs implementation. I am using Wildfly 9 / resteasy3 & seeing a different but possibly related error. I am guessing in either case the issue is that jackson-datatype-guava is either not on the classpath or is not configured by Resteasy or Jersey to make use of it. Will report back if I figure it out.

Her

[2015-12-23 13:30] rickfast commented on #76
The guava module for Jackson should be included as a transitive dependency. I recently deprecated the ```Consul.newClient(...)``` static methods in favor of a builder (```Consul.Builder```) that ensures that even if you supply an ```ObjectMapper``` to use, that the Guava module is initialized. Are you supplying your own ```ClientBuilder```?

[2015-12-23 14:38] dopuskh3 opened #87 "Support for registering a service using an ACL"
Service registration does not support ACL token this is anoying when trying to register a consul agent that requires an ACL token.

[2015-12-24 02:38] #87 closed

[2015-12-29 18:28] jhovell opened #90 "Jackson 2.5 <--> 2.6 interoperability?"
@rickfast I was wondering if you knew why you needed to change KVCache in the following commit. I have a few JEE apps that are stuck on Jackson 2.5.3, and even if I include the corresponding jackson-datatype-guava 2.5.3, I run into an issue where the first 2 letters of my KV keys are clipped. Seems like you maybe experienced the same thing since this line of code changed with the upgrade:

[code]

[2015-12-30 20:23] rickfast commented on #90
IIRC, the substring thing was just a fix for another pull request that broke functionality. I just piggy backed it on the jackson changes.

[2016-01-05 15:10] alex-glv opened #91 "Issue connecting to remote consul endpoint"
Consul is located at: http://172.17.0.77:8500

I set up the Consul with:
[code]
I get an exception thrown:
[code]

Not sure if webTarget is null?
I used gradle dependencies from the readme file.
[code]

Thanks!

[2016-01-05 19:46] rickfast commented on #91
I'm having a hard time reproducing. Let me dig around in the CXF code and see if I can figure out what is causing this.

Do you have any other JAX-RS implementations on the classpath?

[2016-01-05 19:56] rickfast commented on #91
I just tried this with the same cxf version using ```withUrl```

[code]

[2016-01-05 20:02] rickfast commented on #91
I just released 0.9.16. Try that and let me know if you still have problems

[2016-01-05 22:37] alladivasu opened #92 "consul.catalogClient().getService("consul") throws exception"
I am trying to use client code to get service CatalogService object but I get a InstantiationExceotion.

Code Snippet:
Consul consul = Consul.builder().build(); // connect to Consul on localhost
ConsulResponse<List<CatalogService>> catalogServices = consul.catalogClient().getService("consul");

I can get service details using curl http://localhost:8500/v1/catalog/service/consul

Here is the except

[2016-01-06 11:43] alex-glv commented on #91
Thanks for the quick feedback.
I did a test run on an empty project and could successfully connect to the endpoint.
Something with my code. I will close for now. Thank you.

[2016-01-06 11:43] #91 closed

[2016-01-06 12:07] rickfast commented on #92
Looks like jersey isn't using Jackson to unmarshall the results. I'll have to take a look. As a workaround, can you use CXF?

[2016-01-06 12:33] #64 closed

[2016-01-06 12:33] #66 closed

[2016-01-06 13:13] alladivasu commented on #92
I think, I can't. Let me see if I can do a PR. Will provide you more context why not CFX.

[2016-01-06 13:41] rickfast commented on #92
Is this on your class path:

[code]

[2016-01-06 13:50] rickfast opened #93 "Replace JAX-RS (and maybe Jackson)"
Originally using JAX-RS seemed like a good idea to allow JEE folks to use the implementation of their choice. In practice, it's been a pain in the ass to make this client work out of the box for all dependency configurations.

The Vault client I maintain uses retrofit, ok http, and GSON and is much more portable and easy to maintain.

Should be able to maintain the clients public API and swap out

[2016-01-07 17:43] alladivasu commented on #92
I don't have this in my classpath.

[2016-01-11 18:22] ckstettler commented on #92
I determined what the offending dependency is.
        <dependency>
            <groupId>org.glassfish.jersey.media</groupId>
            <artifactId>jersey-media-moxy</artifactId>
            <version>2.22.1</version>
        </dependency>

The moxy marshalling appears to be having issues with the immutablity of the model objects.  I have seen a couple of blogs on the topic and I want to play the

[2016-01-20 17:58] jhovell commented on #93
@rickfast interesting, I might be able to pitch in at some point. I agree, it can be a headache to have to make an entire app manage one Jackson/javax.ws.rs implementation. By the way, I was planning to include your library with a submission to https://github.com/wildfly-swarm/wildfly-swarm which is sort of like a Spring Boot competitor for JEE apps. I saw you had an Apache license, but just wante

[2016-01-21 13:30] rickfast commented on #93
Totally okay with that :) The Vault Client is on my personal github. Totally OSS

[2016-01-24 22:33] mrwilby commented on #93
+1 this would be wonderful. I am currently in dependency hell as I try to integrate this library in Netflix Exhibitor for zookeeper cluster formation (using consul as the backing coordinator). Exhibitor is using very old libraries including Jax RS 1.x.

[2016-01-25 12:41] rickfast commented on #93
@mrwilby @jhovell I'll create the 1.0 branch which will include this work. I'll try to convert one client this week using Retrofit.

[2016-01-25 14:32] mrwilby commented on #93
@rickfast Thank you. My java foo is not strong enough to resolve my dependency hell with Exhibitor so this would indeed be much appreciated.

[2016-01-25 19:25] nrshrivatsan opened #94 "Leverage Retrofit"
Hi friends,

Your Consul-client is a life-saver.

Just a suggestion.

We found you using [Jersey ReST Client](https://github.com/OrbitzWorldwide/consul-client/blob/master/src/main/java/com/orbitz/consul/KeyValueClient.java#L16).

[```Retrofit```](http://square.github.io/retrofit/) reduces lines of code and is simple to use.

IFF you choose to , please use version ```2.0.0-beta3+```

[2016-01-25 20:01] gjesse commented on #93
One of the reasons I started using & contributing some to this library is specifically that it used jax-rs and jackson, which is already part of the standard stack I'm using (dropWizard), so it was a big win, as opposed to some other competitor clients that used gson.

I don't want to hold back progress though, and have real sympathy for those stuck using older jax-rs implementations, so i would j

[2016-01-25 20:04] mrwilby commented on #93
I agree that makes sense. I am a dropwizard user myself, so generally I would agree with @gjesse. But trying to retrofit this library into old codebases is tricky. I have maven-shaded to my wits end with my scenario (involving netflix exhibitor, as said) but still no luck.

Anyway, I would obviously not advocate for re-architecting the internals of any library just on my account.

[2016-01-25 21:08] jhovell commented on #93
@rickfast yeah class conflicts inside a JVM is a major drawback of any single-classloader Java app. That said, I'm confused what is actually causing problems in your case jaxrs 1.0 is generally compatible with 2.0. I don't know Gradle that well, but in Maven it's fairly trivial (though tedious) to exclude JARs you don't want (some old crufty JAXRS 1.x impl) and provide something new (Apache CXF or

[2016-01-26 20:32] rickfast commented on #94
Thanks! We're discussing Retrofit in issue #93

[2016-01-26 20:32] #94 closed

[2016-01-27 14:46] justinjose28 opened #95 "Prepared Query support in consul-client"
I couldn't find anything related to  [Prepared Queries](https://www.consul.io/docs/agent/http/query.html) in the client. Any plans to support this?

[2016-01-27 22:55] jhovell opened #96 "Error getting response from consul. will retry in 10 SECONDS: java.lang.IllegalArgumentException: Multiple entries with same key:"
@rickfast

Looks like I might have stumbled upon an issue, possibly related to registrator, not quite sure yet. I notice Consul has 2 internal services registered consul-8301 (no tags) and consul-8301 (udp) which causes a map collision for 2 services by the same name on the same port (differing only in tags). If I use consul-client to query this service

![screen shot 2016-01-27 at 2 29 24 pm](htt

[2016-01-28 14:28] rickfast commented on #95
@justinjose28 yes! Just need to find the time! I'll mark this as help wanted and try to find time to take a crack at this

[2016-01-30 18:56] rickfast commented on #96
@jhovell I'm okay with the fix

[2016-01-31 00:20] jhovell commented on #96
https://github.com/OrbitzWorldwide/consul-client/pull/97

[2016-01-31 00:22] #96 closed

[2016-02-09 11:25] zborisha commented on #91
I had similar issue and the problem was CXF and shade plugin

http://stackoverflow.com/questions/31156393/nullpointerexception-at-org-apache-cxf-jaxrs-client-abstractclient-setupoutinter

[2016-02-09 18:15] bitsofinfo opened #98 "Support multiple host/ports for Consul.builder().withHostAndPort() ?"
Is there any support to specify multiple consul host/ports in a catalog client etc?

[2016-02-10 12:43] rickfast commented on #98
No. Best bet is to create multiple clients. Is this so that you can load balance or failover agents?

[2016-02-10 14:11] bitsofinfo commented on #98
Yes basically want to register w/ multiple agents or have failover for discovery

[2016-02-11 18:37] amirabiri commented on #93
+1 for modules & interfaces.

I for example am using Commons http 4 (not sure if it's jaxed or if there is an adapter for it anywhere) with Jackson 2. I hate the idea of having yet another http client and json library bloating my deptree, perhaps even creating parallel thread and connection pools.

It should be possible to plug this library into a project using any kind of http client and json lib

[2016-02-15 10:53] sharpyfox opened #99 "Events doesn't filtered by name"
Hello. I use `0.9.16` version from maven. Seems that event list doesn't requested properly (filtered by name). Snippet to reproduce:

[code]

Actual query was made: `GET /v1/event/list`, however I expect that `/v1/event/list?name=name-to-filter` will be called.

[2016-02-17 01:50] rickfast commented on #99
Fixed by 3198b3a7c8bf92aa728064adac2582141b89d746. I'll release a new version tomorrow.

[2016-02-17 01:50] rickfast commented on #98
I won't have time to get to this in the near term, but I've marked it help wanted. I think this should be relatively easy to implement w/ multiple clients in the near term.

[2016-02-17 02:26] nandhusriram opened #100 "Clarification--CheckID does not have associated TTL"
I have a Ttl scheduler running every 30s ,throwing NPE com.orbitz.consul.NotRegisteredException: null
	at com.orbitz.consul.AgentClient.check(AgentClient.java:404)
	at com.orbitz.consul.AgentClient.checkTtl(AgentClient.java:420)
	at com.orbitz.consul.AgentClient.pass(AgentClient.java:427)
	at com.assurant.inc.transformation.consul.TtlScheduler.heartbeatServices(TtlScheduler.java:58).

FYI http hea

[2016-02-17 15:53] rickfast commented on #100
I'll take a look. Can you post a snippet of your code setting up the client?

[2016-02-18 00:17] nandhusriram commented on #100
Looks like it needed cleanup  from consul , once I deregistered the services and registered back , it worked . Thanks

[2016-02-18 00:17] #100 closed

[2016-02-18 00:19] nandhusriram opened #101 "Agent Self throwing HTTP 503."
I have a method that performs periodic health check , in that method I am getting agent/self call and it throws 503.

	Agent agentSelf = consul.agentClient().getAgent();

			ConsulResponse<Map<String,List<String>>> services = consul
					.catalogClient().getServices(QueryOptions.BLANK);
			builder.up().withDetail("services", services.getResponse());
					.withDetail("agent", agentSelf);

[2016-02-18 00:58] nandhusriram commented on #101
More information

Exception [EclipseLink-34] (Eclipse Persistence Services - 2.6.0.v20150309-bf26070): org.eclipse.persistence.exceptions.DescriptorException
Exception Description: This class does not define a public default constructor, or the constructor raised an exception.
Internal Exception: java.lang.InstantiationException
Descriptor: XMLDescriptor(com.orbitz.consul.model.agent.Agent --> [])

[2016-02-18 01:55] rickfast commented on #101
Are you using Jersey? If so, is ```jersey-media-json-jackson``` on the classpath?

[code]

[2016-02-18 19:29] sharpyfox commented on #99
Thanks!

[2016-02-18 23:01] nandhusriram commented on #101
Worked , thanks

[2016-02-18 23:01] #101 closed

[2016-02-18 23:16] rickfast commented on #101
np. i'll update the README with instructions for jersey

[2016-02-23 17:09] bmudda opened #102 "Support for ACL client"
Currently there is no ACL client available to perform CRUD operations for ACL token. Is there a plan to add support for an ACL client?

[2016-02-25 16:11] bmudda opened #103 "Support for TCP health check"
Is there a plan to add a TCP health check? Right now we only have script, http and ttl support.

[2016-02-29 14:26] rickfast commented on #103
I can add this support this week.

[2016-03-01 15:34] rickfast commented on #103
Fixed by 6920d9aed7768c3ba5d5687ba34d4bdc4eb485a6

[2016-03-01 15:34] #103 closed

[2016-03-01 15:47] rickfast commented on #99
release in ```0.10.0```

[2016-03-01 15:47] #99 closed

[2016-03-01 19:31] bmudda commented on #103
Thanks @rickfast works good.

[2016-03-01 19:56] #90 closed

[2016-03-01 19:57] #92 closed

[2016-03-01 20:19] #76 closed

[2016-03-11 05:22] FraBle opened #106 "Support to specify a service-specific IP address"
I'm running several docker containers. One is used for [Consul](https://hub.docker.com/r/voxxit/consul/), running server and agent on the same machine. Another one is used for a Java service (Dropwizard) using the Java Docker image. To connect my Java service with Consul, I use [dropwizard-consul](https://github.com/smoketurner/dropwizard-consul). It is based on consul-client.

Since the Java cont

[2016-03-11 15:44] gjesse commented on #106
You can already do this, though it's a little indirect. Something like

[code]

I think the general use case is that people run the agent locally on the machine, so I'm guessing this is not a very common use case, and therefore probably not worth adding another set of overloaded registration methods to `AgentClient`

[2016-03-12 03:03] rickfast commented on #106
I'm inclined to agree. There's already more ```register``` methods than I'd like. Going to close this for now.

[2016-03-12 03:03] #106 closed

[2016-03-14 22:39] FraBle commented on #106
I took @gjesse advice and added the missing functionality to [smoketurner/dropwizard-consul](https://github.com/smoketurner/dropwizard-consul) ([Pull Request](https://github.com/smoketurner/dropwizard-consul/pull/4)). Thank you!

[2016-03-15 06:49] art4noir opened #107 "KVClient: PutOptions.getCas should be long, not int"
Consul declares modifyIndex as uint64, and client uses long for it.
Cas parameter accepts as value current value of modifyIndex.
But PutOptions.getCas is declared as int, so a conversion with data lost required.
It seems like a bug in the client lib.

[2016-03-16 10:36] #107 closed

[2016-03-18 05:25] Sahasrara opened #110 "KVCache will truncate keys in the key map"
final Function<Value, String> keyExtractor = new Function<Value, String>() {
            @Override
            public String apply(Value input) {
                return input.getKey().substring(rootPath.length() + 1); **<---**
            }
        };

This guy needs to be changed so that it doesn't truncate key names.  It might be cool if it ignored trailing slashes.  Maybe something like this, b

[2016-03-21 13:30] rickfast commented on #110
I'll fix this this week.

[2016-03-22 02:10] Sahasrara commented on #110
thanks!

[2016-03-30 16:17] bkrahmer opened #111 "Fix for intelli-j generated sources"
At the bottom of the page there are workarounds described for working with intelli-j.  Something similar to this at the bottom of your build.gradle will fix it:

sourceSets {
    main {
        java.srcDirs += "${buildDir}/generated/source/proto/main/java/"
    }
    test {
        java.srcDirs += "${buildDir}/generated/source/proto/test/java/"
    }
}

cheers,
brian

[2016-04-02 02:07] rickfast commented on #110
Fixed by 9f429800d2093826ee9d40df7c73fd74bf860bc9

[2016-04-02 02:07] #110 closed

[2016-04-02 02:25] rickfast commented on #111
boom aefdf0518a5965607ed90405ccdd6041c4d40323

[2016-04-02 02:25] #111 closed

[2016-04-02 02:45] Sahasrara commented on #110
Dope, thanks!

[2016-04-07 16:28] mskeefe opened #112 "KeyValueClient.getValues(String, QueryOptions) ignores queryOptions"
Adding QueryOptions to getValues has no effect.

[2016-04-11 06:52] yeyincai opened #113 "health check is problem !"
service register consul   and add  check healthurl ,but   runtime   look  tcp  client ,too  many  port  on TIME_WAIT state ,that is bug?

[2016-04-11 10:03] rickfast commented on #113
Consul client doesn't actually perform the health checks. The agent does that. The client just tells the agent how to monitor the registered application. Sounds like a problem with your health check?

[2016-04-11 10:03] lburgazzoli commented on #84
I would like to hep here but first I'd like to understand why should the dependencies be declared as provided ?

[2016-04-11 10:09] rickfast commented on #84
I don't know enough about OSGi bundles to answer this. We can't change the main generate me pom to declare dependencies in the provided scope because that will break most of the clients.

[2016-04-11 10:10] rickfast commented on #112
I'll fix this this week

[2016-04-11 10:12] lburgazzoli commented on #84
I do not think is is needed, as far as I know, once you have a proper manifest you should be ready to go   (unless you have some specific requirement for calss-loading etc)

[2016-04-11 11:00] sakno commented on #84
`maven-bundle-plugin` requires `provided` scope for artifacts which should not be embedded into output bundle. This technique used for libraries which are not bundlized but must be shipped with bundle.

[2016-04-11 11:27] lburgazzoli commented on #84
This is true if you enable Embed-Dependencies, but you can configure it to include only the dependencies you need or to skip transitive ones (Embed-Transitive).

[2016-04-11 11:30] rickfast commented on #84
I'll defer to you guys on this. My only requirement is that this work doesn't affect the default published artifact

[2016-04-11 11:35] lburgazzoli commented on #84
@rickfast definitively ;)

[2016-04-12 01:07] yeyincai commented on #113
Maybe  health   checks  url has  problem

[2016-04-15 03:27] akurniawan opened #114 "Dependency conflict"
Hi, thanks for the driver!

We encounter a problem with your consul-client, because apparently your driver requires javax.ws.rs.core as one of the dependencies. Unfortunately, we also using hadoop client that requires jersey-core plugin which implements also javax/ws/rs/core/Response.class, and jersey-core plugin used by hadoop is the old one (version 1.9). With jersey plugin there we can't use yo

[2016-04-15 21:03] rickfast commented on #114
I can't think of one off the top of my head unfortunately. JAX-RS seemed like a good idea initially, and it's worked out great for some clients. Ultimately, I need to rework the client to either A. have minimal dependencies or B. use a shaded JAR for the basic dependencies. I can try to relocate JAX-RS and Jackson into the `com.orbitz` package and ship them in the shadow JAR, which would allow oth

[2016-04-15 21:04] rickfast commented on #114
I can't think of one off the top of my head unfortunately. JAX-RS seemed like a good idea initially, and it's worked out great for some clients. Ultimately, I need to rework the client to either A. have minimal dependencies or B. use a shaded JAR for the basic dependencies. I can try to relocate JAX-RS and Jackson into the `com.orbitz` package and ship them in the shadow JAR, which would allow oth

[2016-04-15 21:07] rickfast commented on #114
I can't think of one off the top of my head unfortunately. JAX-RS seemed like a good idea initially, and it's worked out great for some clients. Ultimately, I need to rework the client to either A. have minimal dependencies or B. use a shaded JAR for the basic dependencies. I can try to relocate JAX-RS and Jackson into the `com.orbitz` package and ship them in the shadow JAR, which would allow oth

[2016-04-15 21:07] rickfast commented on #114
I can't think of one off the top of my head unfortunately. JAX-RS seemed like a good idea initially, and it's worked out great for some clients. Ultimately, I need to rework the client to either A. have minimal dependencies or B. use a shaded JAR for the basic dependencies. I can try to relocate JAX-RS and Jackson into the `com.orbitz` package and ship them in the shadow JAR, which would allow oth

[2016-04-15 21:08] rickfast commented on #114
I can't think of one off the top of my head unfortunately. JAX-RS seemed like a good idea initially, and it's worked out great for some clients. Ultimately, I need to rework the client to either A. have minimal dependencies or B. use a shaded JAR for the basic dependencies. I can try to relocate JAX-RS and Jackson into the `com.orbitz` package and ship them in the shadow JAR, which would allow oth

[2016-04-20 05:55] lburgazzoli opened #115 "Jackson Guava module"
This is not an issue just a question: I see that a Guava Jackson module is configured by default but it does not seem that the code uses guava so I'm wondering what is the reason behind that.

[2016-04-20 14:08] #84 closed

[2016-04-20 14:09] rickfast commented on #115
Truthfully I don't remember. I'll try deleting it and running the tests and see what happens

[2016-04-23 23:58] Lavignotte commented on #114
Hi,

I faced the same problem a few days ago in a Maven project and solved it by placing consul-client and javax.ws.rs.core dependencies at the  top of the pom.xml file.
This way the classloader takes the correct version of the Response class in priority.
Hope this helps !
Unless Hadoop needs its specific version...

Pierre

[2016-04-26 15:35] lburgazzoli commented on #84
@rickfast any chance to do a new release which include this OSGi enhancement ?

[2016-04-26 15:57] rickfast commented on #84
`0.10.2` published to bintray. Central will have to be later this week

[2016-04-29 07:33] lburgazzoli commented on #84
@rickfast thx

[2016-05-02 01:08] rickfast commented on #95
Resolved by 88e7abb4492410ca110289293e830303287964dd

[2016-05-02 01:08] #95 closed

[2016-05-02 01:25] rickfast commented on #112
fixed

[2016-05-02 01:25] #112 closed

[2016-05-02 01:26] rickfast commented on #93
Implemented shaded JAR w/ retrofit. Changes are in `0.11.0`. Functionality shouldn't have changed

[2016-05-02 01:26] #93 closed

[2016-05-02 01:26] rickfast commented on #115
Needs to be there for immutable collections

[2016-05-02 01:26] #115 closed

[2016-05-02 01:27] rickfast commented on #114
I've removed JAX-RS in version `0.11.0`. The new HTTP client is shaded into the JAR, so it shouldn't cause any classpath issues

[2016-05-02 01:27] #114 closed

[2016-05-02 01:28] #113 closed

[2016-05-02 10:16] lburgazzoli opened #118 "Shaded packages"
In the latest version almost all the dependencies are shaded inside the jar and I'm wondering if it could be better to hide all the shaded packages from the end user I mean, as example, it is possibility to tweak Jackson object mapper but if I want to add a module, it has to be compatible with the shaded version but that could break the isolation. Another problem is using the shaded package in osg

[2016-05-02 11:02] rickfast commented on #118
Yeah I get it. I'll unshade Jackson and Guava, but I'll leave the HTTP stuff in the JAR.

[2016-05-02 11:13] lburgazzoli commented on #118
Great, thx for the fast answer

[2016-05-02 11:16] lburgazzoli commented on #118
btw, would you like me to work on that while working on OSGi stuffs ?

[2016-05-02 13:21] rickfast commented on #118
yes - i just pushed the unshading of jackson and guava. can you make the appropriate OSGi updates?

[2016-05-02 14:53] lburgazzoli commented on #118
Would it be possible to have a minor release ?
So I can work on the osgi bundle on ServiceMix so that your jar won't be touched and OSGi problems can be avoided ?

[2016-05-03 06:40] lburgazzoli opened #120 "v0.11.x behavior"
I've found that the new v0.11.x behave differently from previous versions i.e.:
- for key/value keys starting with "/" lead to http 404
- for events the payload is surrounded by double quotes i.e one of my test cases failed becasue:
[code]

Is that expected ?

[2016-05-03 11:39] rickfast commented on #120
No, but it's a completely different http client so it's not unexpected. I will fix this morning

[2016-05-03 11:39] rickfast commented on #120
Unexpected = surprising

[2016-05-03 12:37] rickfast commented on #118
Not sure what you mean?

[2016-05-03 12:49] lburgazzoli commented on #118
Not really clear indeed.

Unfortunately making  maven-shade-plugin and maven-bundle-plugin working together is not really trivial and it is really error-prone and that sometimes leads to issues so one of the possible solutions is to re-package your jar as OSGi bundle as part of ServiceMix bundles colelction (https://github.com/apache/servicemix-bundles).

This has the advantage that your jar is un

[2016-05-03 13:05] rickfast commented on #120
fixed by b64f7c6c1035bf1f5a60a1a7939ca60aca37fe25

[2016-05-03 13:05] #120 closed

[2016-05-04 21:58] rickfast commented on #118
Cool. I'll close this for now then

[2016-05-04 21:58] #118 closed

[2016-05-05 10:04] michalkalinowski opened #123 "Values in KV surrounded by quotation marks"
For some reason, all values that are put by ```KeyValueClient``` are surrounded by quotation marks.

When inserting like this:
```curl -X PUT -d 'test' http://192.168.99.100:8500/v1/kv/key```
the actual value is ```test```.

When inserting like this:
```kvClient.putValue("key", "test");```
the actual value is ```"test"```.

It is OK if the only Consul's KV clients ale Java apps using this lib, but

[2016-05-05 11:54] rickfast commented on #123
Yeah. It's a problem with the new HTTP client thatWe swapped in. Use 0.10.2 for the time being. I'll fix this today

[2016-05-05 12:09] michalkalinowski commented on #123
OK, great! It it's not an issue for you, please publish this fixed version to Maven Central. Thanks!

[2016-05-05 13:01] rickfast commented on #123
Sure. I fixed it on the train just now. I'll merge and release shortly.

[2016-05-05 14:42] rickfast commented on #123
`0.11.3` is released. Retrofit was using the JSON converter to handle string request bodies, so they were turned into JSON strings (with quotes). I changed the String payload calls to use the plain text string converter.

[2016-05-05 14:42] #123 closed

[2016-05-10 01:36] bprager opened #124 "encoding issue"
I am trying to store and retrieve serialized objects (byte-arrays) in Consul.
In the following test-code the retrieved byte-array is different than the stored one, which suggests an encoding issue in the client:
[code]
(@rickfast was able to confirm the existing issue so far.)
Thank you for looking into it.

[2016-05-14 13:57] odiszapc commented on #124
@bprager could you please provide a complete code snippet?

[2016-05-14 14:32] odiszapc commented on #124
It's a Consul base64 decoding issue. Consider using of base64 pre-encoded strings to save binary streams into KV store. I guess this issue can not be fixed in this library.
Looks like Base64 encoding of binary arrays in Go incompatible with consequest decoding in Java.
But `new String(bytesFromConsul)` is OK.

[2016-05-17 13:23] SerCeMan opened #128 "Shadow jar as one of the options"
Please provide the shadow jar as one of the artifacts available on Bintray. Jackson has a lot of conflicts with other libraries.

[2016-05-18 12:17] rickfast commented on #128
I will try and get to this sometime this week. Thanks

[2016-05-19 03:53] odiszapc commented on #98
This feature leads to redesigning of consul-client, because re-connection strategy and pools arrives here. I guess (@rickfast fix me) the main idea of consul-client is to have pure implementation of Consul HTTP API, then consul-client can be engaged into the more feature-riched library, like Zookeeper client is a core of Apache Curator framework.

[2016-05-19 08:35] bprager opened #130 "getKeys() throws ConsulException"
Gentlemen,
I am having trouble in using getKeys().
The following code throws a ConsulException:
[code]

[2016-05-19 14:14] rickfast commented on #128
[code]

Fixed

[2016-05-19 14:15] SerCeMan commented on #128
Thank you :+1:

[2016-05-19 22:29] rickfast commented on #128
Looks like the shaded JAR with classifier still pulls all the dependencies. I need to make a separate artifact ID. I'll fix this tonight.

[2016-05-20 01:25] rickfast commented on #130
I'll take care of this sometime this week. Thanks

[2016-05-20 01:33] rickfast commented on #130
fixed by 5f4214c7f11b14a7c113f3d6b5886b28bf5d5b02

[2016-05-20 01:33] #130 closed

[2016-05-20 01:36] rickfast commented on #128
Only option is a shaded JAR for now. The old JAR already shaded the HTTP stuff, and so I just added Jackson as well.

Would be a pain in the ass to get two artifacts working right now, and honestly, most people get annoyed with the Jackson dependencies.

[code]

[2016-05-20 01:36] #128 closed

[2016-05-23 18:50] antoniobeyah opened #131 "getKeys() causes an exception to be thrown"
when using 0.12.0 and calling getKeys, this exception is thrown.  Rolling back to 0.10.0 works properly.

Here is the result of a curl:
/v1/kv/seed_jobs%2F?keys=true
-> curl localhost:8500/v1/kv/seed_jobs%2F?keys=true
["seed_jobs/","seed_jobs/job1/","seed_jobs/job1/git_url","seed_jobs/job2/","seed_jobs/job3/"]

Here is the code:
[code]

[code]

[2016-05-23 19:08] rickfast commented on #131
Just fixed this a few days ago: 5f4214c7f11b14a7c113f3d6b5886b28bf5d5b02

I'll release today

[2016-05-23 19:08] #131 closed

[2016-05-23 19:17] rickfast commented on #131
```0.12.1``` has the fix

[2016-05-23 22:18] antoniobeyah commented on #131
thanks rick, that was fast.  rickfast.

[2016-05-23 23:06] rickfast commented on #131
:)

[2016-05-24 06:23] eduardolundgren opened #132 "Typo for cas on PutOptions"
I am wondering if this is a typo:

https://github.com/OrbitzWorldwide/consul-client/blob/88e7abb4492410ca110289293e830303287964dd/src/main/java/com/orbitz/consul/option/PutOptions.java#L26

Accordingly docs, it should be passed as `cas` not `case`.

[2016-05-24 10:38] rickfast commented on #132
Yes. It's a typo

[2016-05-24 12:08] rickfast commented on #132
fixed f920eeb783ac4675a20fb3d6f83df7e74614acdb

[2016-05-24 12:08] #132 closed

[2016-05-24 16:22] eduardolundgren commented on #132
Thanks!

[2016-05-24 16:23] eduardolundgren commented on #132
Could you push a version with that fix?

[2016-05-25 22:15] eduardolundgren commented on #132
Hi, just checking if you are going to release it or not, otherwise I will fork it. Thank you.

[2016-05-25 22:28] rickfast commented on #132
I will release this evening when I get home

[2016-05-26 06:36] dimagol1989 opened #133 "KVCache dose not closes properly"
Hi,
Running small code that starts KVCache then stops it and then exits that main. The JVM is still running
and not closes properly.
Only if I put System.exit in the end the JVM shuts down.

[code]

[2016-05-26 10:49] rickfast commented on #132
alright 0.12.2 is released

[2016-05-26 17:05] eduardolundgren commented on #132
Thanks.

[2016-06-01 13:05] zhuangmg opened #135 "ConsulCache throws java.net.SocketTimeoutException: timeout"
Hi,

When I use ServiceHealthCache to register a watch service changes, once I start the service heath cache, I got the timeout error every 10s.

        ServiceHealthCache svcHealthCache = ServiceHealthCache.newCache(healthClient, serviceName);

        ConsulCache.Listener<ServiceHealthKey, ServiceHealth> listener = new ConsulCache.Listener<ServiceHealthKey, ServiceHealth>() {
            @Overr

[2016-06-02 08:42] dimagol1989 commented on #135
You are using "default" newCache method that with
`
watchSeconds = 10
`
then the default connection timeout (i think from orbitz.okhttp3) is smaller than the "watchSeconds"
this why, your connection exits with TimeoutException.
(for what i understand, watchSeconds=10, tell the consul server to send you a respond after 10 sec)

You can use 'org.glassfish.jersey.core:jersey-client:2.22.1'
that uses

[2016-06-02 10:19] zhuangmg commented on #135
Thanks, use withReadTimeoutMillis(20000) to build consul client can fix the problem.

[2016-06-02 10:19] #135 closed

[2016-06-20 08:55] xieyanze opened #137 "ConsulCache error"
when serviceHealthCache add Listener
[OkHttp http://192.168.21.171:8500/v1/health/service/Demo-QuickStartService?index=8&wait=20s&passing=true] ERROR com.orbitz.consul.cache.ConsulCache - Error getting response from consul. will retry in 10 SECONDS

[2016-06-20 16:42] rickfast commented on #137
Are you running Consul in Docker? Can you successfully curl that endpoint from the command line?

[2016-06-21 02:02] xieyanze commented on #137
not running docker.
 when this exception exception happened, can open this url in web browser successfully.
10:01:06.342 [OkHttp http://192.168.21.171:8500/v1/health/service/Demo-QuickStartService?index=3857&wait=20s&passing=true] ERROR com.orbitz.consul.cache.ConsulCache - Error getting response from consul. will retry in 10 SECONDS
java.net.SocketTimeoutException: timeout
	at com.orbitz.okio.Oki

[2016-06-21 02:15] xieyanze commented on #137
not running docker.
[root@APP-Nginx ~]# curl http://192.168.21.171:8500/v1/health/service/Demo-QuickStartService?index=3873&wait=20s&passing=true
[1] 14338
[2] 14339

can not successfully this endpoint. but this endpoint can opened in web browser successfully

[2016-06-21 09:30] kunnu opened #138 "java.lang.IllegalStateException: Unable to extract the trust manager on com.orbitz.okhttp3.internal.Platform, sslSocketFactory is class sun.security.ssl.SSLSocketFactoryImpl"
I am getting below exception while building Consul client.

`Consul.builder().build();`

`Caused by: java.lang.IllegalStateException: Unable to extract the trust manager on com.orbitz.okhttp3.internal.Platform@137ed968, sslSocketFactory is class sun.security.ssl.SSLSocketFactoryImpl
	at com.orbitz.okhttp3.OkHttpClient.<init>(OkHttpClient.java:187)
	at com.orbitz.okhttp3.OkHttpClient.<init>(OkHttpC

[2016-06-29 11:14] dkubiak commented on #138
It;s problem with lib okhttp  https://github.com/square/okhttp/issues/2323

[2016-06-29 11:25] #138 closed

[2016-07-08 11:48] Bryann opened #140 "Support Timeout for Checks"
Hi,

i don't know if this is the right place to ask. According to the consul API: https://www.consul.io/docs/agent/checks.html , you can specify a timeout of x seconds when register a check or a service (including a health check). I didn't see any chance to configure this property using the consul-client.

Is this feature missing? If yes, it's planned to implement this feature in one of the next r

[2016-07-08 12:54] rickfast commented on #140
Yes it is missing. I will add it this morning

[2016-07-08 14:30] rickfast commented on #140
Fixed by 6a6d67bca3a127c8e4ad0d941c1ebed708378b6a

[2016-07-08 14:30] #140 closed

[2016-07-08 14:36] #98 closed

[2016-07-08 14:37] #124 closed

[2016-07-08 15:16] bitsofinfo commented on #98
:(

[2016-07-08 15:31] rickfast commented on #98
i can leave it open as help wanted, but based on the other things i'm working on, i really dont think i'm going to get to this. sorry

[2016-07-12 08:08] Bryann opened #141 "Support Notes for Checks"
Hi again,

first of all, thanks for adding the timeout (Ticket https://github.com/OrbitzWorldwide/consul-client/issues/140) to the health-check. Im currently implementing the new version into our application.

Can you do the same for the "Notes" property?  So that we can add custom descriptions to the checks?
See https://www.consul.io/docs/agent/checks.html for details.

[2016-07-12 12:14] Bryann commented on #141
I implemented the changes by myself, but i'm unable to push it. See attached files.

[changes.zip](https://github.com/OrbitzWorldwide/consul-client/files/359259/changes.zip)

[2016-07-12 12:19] rickfast commented on #141
Can you make a pull request?

[2016-07-12 12:35] Bryann opened #142 "Using the Builder to create a Consul Object, URL is cutted"
Hi,

i'm currently facing the following issue:

I try to create a new Consul object using the `Consul.builder().withUrl(urlString);`
The urlString has the following pattern:

`https://<IP>/path/to/consul`

If i build my object using `build()`, the `createRetrofit()` Method is executed.
Within this method, my given URL will be cutted/modified to `https://<IP>/v1` instead of `https://<IP>/path/to/co

[2016-07-13 01:05] #141 closed

[2016-07-18 14:16] KekSfabrik commented on #133
I can confirm this (on the latest, 0.12.4, from mvnrepository.com):
`OkHttp Dispatcher`, `OkHttp ConnectionPool`  and `Okio Watchdog` stay alive and never seem to be shut down - my `ServiceHealthCache` Instances take about 60s to shut down after receiving `stop()` (after i removed all `Listener`s) - that's bad already (realistically the App will be killed off hard (**kill -9**) after ~15s or so of

[2016-07-19 12:55] Hronom commented on #133
+1 confirm it on versions `0.12.3` and `0.12.4`, same behaviour.

[2016-07-21 13:26] bitsofinfo opened #145 "HostnameVerifier"
In a prior version we used to be able to do this, but its gone. How can I do this in 0.12.4?

[code]

[2016-07-22 13:09] kunnu commented on #138
Thanks ! :+1:

[2016-07-22 17:42] rickfast commented on #145
The client was changed to use a shaded version of retrofit and OkHTTP. I think we can expose it in the Consil builder. I will try and get to it soon.

[2016-07-22 17:42] rickfast commented on #142
I'll take a look at this soon

[2016-07-23 05:14] fengbaicanhe opened #146 "How can i do health check with a specify serviceId ? Not a service name"

[2016-07-23 20:42] gjesse commented on #133
been looking into this some - it's not actually a problem with KVCache, but with the okHttp services. For example, the following code triggers the same behavior, no kvCache needed.

[code]

There is an executorService created by the dispatcher library here: https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/Dispatcher.java#L64-L65 that is *not* a daemon, and as such block th

[2016-07-23 21:50] rickfast commented on #133
Fixed via 3f6cacd. Thanks @gjesse

[2016-07-23 21:50] #133 closed

[2016-07-25 14:18] bitsofinfo commented on #145
Or will it pick it up from this one? http://download.java.net/jdk7/archive/b123/docs/api/javax/net/ssl/HttpsURLConnection.html

Just need to get this working to upgrade this lib we wrote

[2016-07-25 21:10] rickfast commented on #145
fixed by b6c64d78cd96c4833e49e82febc290f3e76c22f3. release in `0.12.5`

[2016-07-25 21:10] #145 closed

[2016-07-26 10:37] dantheman46 opened #148 "ConsulCache empty if consul has no leader"
Hello

problem with **ConsulCache**
when  ConsulResponse{response=null, lastContact=0, **knownLeader**=false, index=0}

there is a problem when consul cluster has no leader. e.g. working one of the three nodes.
It would be better solution to throw an exception than return clean the cache.

At the moment dev is not able to recognise if there is really no service instance or it is problem with consu

[2016-07-26 22:11] bitsofinfo commented on #145
thanks!

[2016-07-28 09:32] dantheman46 commented on #148
@aantono
@getfatday
@flatiron32
@dopuskh3
@jasondaihl

Could you check this out

thanks in advance
Regards

[2016-07-29 09:02] YulawOne opened #149 "Health client not compatible with consul 0.5.2"
[code]

[2016-07-30 21:45] rickfast commented on #149
fixed via 6ff6875c1cb989c6a54b5098bbaff7dffc638717

[2016-07-30 21:45] #149 closed

[2016-07-30 21:46] rickfast commented on #146
[code]

[2016-07-30 22:00] rickfast commented on #148
fixed via fa70b81d8b9b035abe4790395f1759d42668e8da

[2016-07-30 22:00] #148 closed

[2016-07-30 22:01] rickfast commented on #102
added this support a few weeks ago

[2016-07-30 22:01] #102 closed

[2016-08-02 01:18] fengbaicanhe commented on #146
OK,I will try it,Thanks !

[2016-08-02 12:22] rickfast commented on #146
Should give you the functionality you need. I will close this for now

[2016-08-02 12:22] #146 closed

[2016-08-02 12:25] dantheman46 opened #150 "Unable to extract the trust manager on com.orbitz.okhttp3.internal.Platform@406554a0, sslSocketFactory is class sun.security.ssl.SSLSocketFactoryImpl"
The problem is when I use Consul in WAR in JBoss Eap 6
JBoss Enterprise Application Platform - Version 6.2.0.GA

consul-client-0.12.6

consul = Consul.builder().withConnectTimeoutMillis(HTTP_CONNECT_TIMEOUT_IN_MILIS).withReadTimeoutMillis(HTTP_RECEIVE_TIMEOUT_IN_MILIS).build();

java.lang.IllegalStateException: Unable to extract the trust manager on com.orbitz.okhttp3.internal.Platform@406554a0, s

[2016-08-02 13:19] dantheman46 commented on #150
Sorry it looks that the problem was with 0.12.3 and it is working properly in 0.12.6

[2016-08-02 13:19] #150 closed

[2016-08-04 09:55] dantheman46 opened #151 "ConsulCache say that "Error getting response from consul. will retry in 10 SECONDS" but retry is within the same second 09:16:34"
09:16:34,774 ERROR [com.orbitz.consul.cache.ConsulCache] (OkHttp http://localhost:8500/...) Error getting response from consul. will retry in 10 SECONDS: com.orbitz.consul.ConsulException: Consul cluster has no elected leader
	at com.orbitz.consul.cache.ConsulCache$1.onComplete(ConsulCache.java:86) [consul-client-0.12.6.jar:]
	at com.orbitz.consul.util.Http$1.onResponse(Http.java:63) [consul-clien

[2016-08-04 09:56] #151 closed

[2016-08-04 09:58] dantheman46 commented on #151
Sorry I have got two caches because of two datacenters

[2016-08-26 09:51] jeinwag opened #154 "New release including #153"
First, I'd like to thank you for your great work on this project!
May I ask you to please create a new release including #153?
We sorely need this fix.

Thansk!

[2016-08-26 09:57] markus-wi commented on #154
:+1:
I'm also eagerly waiting for this one to be released

[2016-08-30 14:42] rickfast commented on #154
Releasing now. Sorry I've been away.

[2016-08-30 14:48] rickfast commented on #154
`0.12.7` is released. sorry for the delay

[2016-08-30 14:48] #154 closed

[2016-08-30 15:33] jeinwag commented on #154
Thanks, no problem!

[2016-08-31 18:16] nari-m opened #155 "Can we simulate consul Exec command using consul-client"
I would like to simulate consul exec command using consul-client java library. Is there a simple way to do it ?

[2016-09-01 20:43] sgrimm-sg opened #156 "KVCache silently shortens key paths if multiple path elements have the same value"
If I have a key `foo/bar/bar/baz`, it is awkward to access using KVCache because KVCache constructs a `Set` of path elements (and thus the first `bar` path element is silently discarded). The use of sets means KVCache treats a key of `foo/bar/bar/baz` as identical to `foo/bar/baz/baz`.

[2016-09-02 13:01] mputters opened #157 "Support for multiple tags"
Hello,

Right now with a `CatalogOptions` we can only specify one tag (which is what the Consul API offered anyway, so it made sense), however it is now possible to query for multiple tags at the same time, and some clients for other languages have started implementing it.

For now it can only be done using prepared statements:
- https://github.com/hashicorp/consul/issues/1841
- https://github.com

[2016-09-08 11:59] rickfast commented on #155
Upon reading the documentation on exec, I don't see an easy way to do this using the HTTP API only. It seems that it is based on events, so if you can reverse engineer the event that they're using for exec, you could potentially simulate it. I'm going to say it's out of scope for this library though.

[2016-09-08 12:00] rickfast commented on #157
It can be added, but I'm on vacation for the next week and won't get to it any time soon. It should be a relatively trivial change if you'd like to make a pull request.

[2016-09-08 12:01] rickfast commented on #156
I'll take a look at this. Unfortunately, I'm unavailable for the next week, so it will be a little while. PRs welcome

[2016-09-08 14:24] sgrimm-sg commented on #156
The PR is what I did locally and it works for my application, but of course I'm not sure if other users depend on side effects from the old version.

[2016-09-08 14:56] rickfast commented on #156
I'm sure no one depends on that side effect. This implementation has been changed many times. Your implementation was similar to the original. I'll take a look back and make sure this doesn't have the same issues

[2016-09-08 18:20] nari-m commented on #155
Thanks for your reply @rickfast. I did reverse engineered their consul exec command in java and using it now.

[2016-09-08 18:20] #155 closed

[2016-09-12 03:28] zjfplayer opened #160 "About KVCache.addListener"
My test code：

[code]

I suppose newValues will contains keys like "test1","test1/**",but why newValues contains keys like "test1*/**",is it bug?

[2016-09-15 13:52] rickfast commented on #142
fixed by a4cfd6aa94ad430c17872069205b427f26a75bbc

[2016-09-15 13:52] #142 closed

[2016-09-18 19:24] matevarga commented on #137
The cache works, the problem is just the logging. If the watched values don't change then it logs an error before re-scheduling the check. I might send in a PR.

[2016-09-19 01:48] zjfplayer commented on #137
the reason is in parent class `ConsulCache.ConsulCache(
            Function<V, K> keyConversion,
            CallbackConsumer<V> callbackConsumer,
            final long backoffDelayQty,
            final TimeUnit backoffDelayUnit) ` ,it will call the method `@Override
            public void onFailure(Throwable throwable) {

                if (!isRunning()) {
                    return;

[2016-09-19 02:13] zjfplayer commented on #137
And the "onFailure" method's parameter throwable throws `org.eclipse.debug.core.DebugException: com.sun.jdi.ClassNotLoadedException: Type has not been loaded occurred while retrieving component type of array.`

[2016-09-19 02:16] zjfplayer commented on #137
My test code is your test code in java file which named "ConsulCacheTest" in package "src\test\java\com\orbitz\consul\cache",the method code is  `@Test
    public void testListeners() throws Exception {
        KeyValueClient kvClient = client.keyValueClient();
        String root = UUID.randomUUID().toString();

        KVCache nc = KVCache.newCache(
                kvClient, root, 10
        );

[2016-09-20 07:36] Bryann commented on #142
Thanks for the fix,

can you create a new release for the it?

[2016-09-20 11:58] rickfast commented on #142
this fix is in `0.12.8`

[2016-09-29 11:37] dantheman46 opened #164 "EnableTagOverride support during service registration"
Could you add EnableTagOverride described here
https://www.consul.io/docs/agent/http/agent.html#agent_service_register

Regards

[2016-09-29 21:34] rickfast commented on #164
Fixed by 91e6b86a188ba52015aabeff2f48baf407ddb129

[2016-09-29 21:34] #164 closed

[2016-10-03 15:23] sgrimm-sg opened #166 "ConsulCache stops polling for changes"
We're using KVCache on a bunch of our servers and it will sometimes, seemingly at random, stop polling for new updates from Consul. It doesn't seem to correlate to any event I can see, and there isn't a log message when it happens. If we deploy identical code to two hosts at the same time, one of them might hit the problem after a few hours and the other one after a few days, but it's not consiste

[2016-10-03 16:05] Crystark opened #167 "Changelog"
Hi,

I'm now updating to the latest version (0.13.0) from consul-client 0.9.16 and I was wondering if there was a changelog somewhere I could read, besides the commits. I want to make sure there's no breaking change or compatibility issue with the consul version and have a recap of new features that could be useful.

Is that something you have ?
Thanks

[2016-10-04 01:49] rickfast commented on #166
I have a theory about this. I'll test it this evening and report back. We had a similar issue (which was fixed) with 0.8.x at Orbitz, which used CXF/JAX-RS under the hood. The issue was that if there was any kind of network hiccup, the call would fail with a ConnectException before the failure callback is fired, ending the callback loop.

[2016-10-04 01:51] rickfast commented on #167
It's not, sorry. The major change between 0.9.x and 0.13.x is that the underlying HTTP client was changed from JAX-RS (impl provided by client code) to OKHTTP.  The API is exactly the same, save for new fields.

[2016-10-04 02:18] rickfast commented on #166
My theory was wrong. Please let me know if you find any more clues.

[2016-10-04 07:02] Crystark commented on #167
Is there any new feature between those two version ?

Also would you consider adding a changelog for future releases ?
Thanks!

[2016-10-04 10:48] rickfast commented on #167
Yes. There's lot of features. I try to add new fields to match changes in the Consul API (Prepared Queries, etc). I'll consider it, but unfortunately, I don't have as much time to work on this library lately.

[2016-10-04 10:48] #167 closed

[2016-10-04 11:43] rickfast commented on #167
https://github.com/OrbitzWorldwide/consul-client/blob/master/CHANGELOG.md

[2016-10-08 17:05] xieyanze commented on #137
thanks

[2016-10-08 17:05] #137 closed

[2016-10-10 20:51] sgrimm-sg commented on #166
Update on this: When I added my debug logging, I needed to upgrade to version 0.13.0 of the client to get the non-shaded classes so I could override them with my modified ones. And the problem hasn't happened since. My guess is it was a manifestation of #161 and was fixed by the fix for that bug. Closing this for now but will comment again if I see it happening again.

[2016-10-10 20:51] #166 closed

[2016-10-12 13:11] #156 closed

[2016-10-13 12:08] YannRobert opened #173 "behavior change : ConsulResponseCallback#onFailure now called in case entry does not exists"
Today I tested an upgrade
to latest ```0.13.1```
from version ```0.12.3```

and I found a change in behavior of the lib :

When watching for change on an entry,
Previously, the lib was calling ```com.orbitz.consul.async.ConsulResponseCallback#onComplete```
even when the server returns a HTTP status ```404```
Now, the lib is calling ```com.orbitz.consul.async.ConsulResponseCallback#onFailure```.

I

[2016-10-13 13:07] YannRobert commented on #173
see https://www.consul.io/intro/getting-started/kv.html

The ```404``` response contains a ```X-Consul-Index``` header that is important to continue to monitor further changes.

In case of a KV watch, a ```404``` is a valid response HTTP status that provides information.

Method ```com.orbitz.consul.util.Http#extractConsulResponse(retrofit2.Call<T>, com.orbitz.consul.async.ConsulResponseCallback<T

[2016-10-13 13:13] YannRobert commented on #173
since #161

[2016-10-13 13:19] RichoDemus opened #174 "Add a "why" to the section about blocking call"
in the section "Example 4: Blocking call for value" there is a lot of code to get a value.

But since there is a section about how to do blocking calls it seems like the default is non-blocking and that this is the way to do blocking calls, but then there is just a getValue() method in the keyvalue client, doesn't that allow a much simpler way of doing a blocking call to get a value?

Either I'm m

[2016-10-13 18:05] robbert229 commented on #174
I created a pr with a single line of documentation to help describe what the blocking call is.

[2016-10-13 18:11] RichoDemus commented on #174
Ah! So it's kind of like a one-shot subscribe to changes for a value?

[2016-10-13 18:32] robbert229 commented on #174
Exactly, though it doesn't guarantee that the change actually occurs.
* It may time out
* A write may be idempotent ( the value is set to foo, and some other process sets it to foo )

[2016-10-18 11:56] rickfast commented on #173
I'll see if I can get a fix in for this today

[2016-10-18 17:35] rickfast commented on #173
fixed by d8a51b446dc99613da98eb7e5156cbe8eb380c26

[2016-10-18 17:35] #173 closed

[2016-10-19 11:56] pviotti opened #177 "Support for transactions."
It would be nice if this library supported transactions, as implemented in Consul >=0.6 key-value API.
https://www.consul.io/docs/agent/http/kv.html#txn

[2016-10-19 17:07] rickfast commented on #177
I have this on a local branch. Hopefully I'll get it in within the next couple days

[2016-10-25 15:21] JoshHills opened #179 "No Operator client?"
https://www.consul.io/docs/agent/http/operator.html

[2016-10-25 22:14] YannRobert commented on #173
it's working, thanks

[2016-10-26 03:20] derjust commented on #135
Also stepped on this one.
Maybe that should be added to the `README.md`...

[2016-10-26 12:11] EvertMDC opened #180 "consul health client timeout"
Hello,

I have an application that uses consul-client that is running fine on docker 1.11.2.
When deploying the same container to a docker with version 1.12 I get the message that it cannot connect tot the ipv6 address of localhost, which is normal because consul is running on ipv4 localhost.
[code]
When changing
`consul = Consul.builder().build();`
to
`consul = Consul.builder().withUrl("http://12

[2016-10-29 15:25] rickfast commented on #180
Are you running your app container with --net=host? Otherwise localhost isn't going to work.

[2016-10-30 11:31] rickfast commented on #177
fixed 731d28201a272734b9ddb169ce3e462c8c9da936

[2016-10-30 11:31] #177 closed

[2016-11-02 11:10] EvertMDC commented on #180
There is a consul agent running inside the container so once the container starts up it registers its service. A curl inside the container to localhost works.

[2016-11-03 11:02] philippeu opened #183 "maintenance mode"
Hi,
Is there a plan to add the maintenance mode in the agent api?
[https://www.consul.io/docs/agent/http/agent.html#agent_service_maintenance](url)
thanks

[2016-11-03 12:25] rickfast commented on #183
I'm sure it can be easily added. I'm overseas for the next week, but I'll add it when I get back. If you need it now, it should be an easy PR.

[2016-11-03 12:27] rickfast commented on #180
Not sure what's going on here. I can't reproduce this. I'll look at the OK HTTP docs, but the Consuk code itself doesn't use IPv6

[2016-11-03 12:27] rickfast commented on #179
Fixed

[2016-11-03 12:27] #179 closed

[2016-11-03 13:11] JoshHills commented on #179
Nice! Thankyou

[2016-11-03 17:14] philippeu commented on #183
there is no rush, thanks for the quick answer!

[2016-11-07 07:26] rickfast commented on #183
fixed via f459947cbbb645699deed63152c6c82a3ab07f12

[2016-11-07 07:26] #183 closed

[2016-11-15 14:08] EvertMDC commented on #180
Can I help you with some additional information maybe?

[2016-11-18 20:37] rickfast commented on #180
if you have more information to give, please do.

[2016-11-27 18:54] rickfast commented on #157
Waiting on https://github.com/square/retrofit/issues/1324 to fix this

[2016-11-30 14:40] maorcatmyheritage opened #186 "Can provide example of how to subscribe to KV changes?"
Hi,

Can you please provide me example of subscribing to changes to the key-value store?

I tried this:
`KVCache kvCache = KVCache.newCache(consul.keyValueClient(), path, watchSeconds);
kvCache.addListener(new ConsulCache.Listener<String, Value>() {
        public void notify(Map<String, Value> map) {
            // Key changed
        }
});`

But that didn't work and notify() isn't called when I

[2016-11-30 19:14] rickfast commented on #186
Call `start()` on the cache and it will work

[2016-11-30 19:46] maorcatmyheritage commented on #186
My bad. I called `start()`, just forgot to add it to my message...
Right after calling `start()`, the `notify()` is being called but no call is made when changing values in the server (through the Consul UI). Can you explain how the watch is done? Is it using the blocking HTTP API? Can you point the code that does this?

One more question, how should the monitor flow should look like?
I guess that

[2016-11-30 21:59] rickfast commented on #186
Yes, the `KVCache` uses the blocking HTTP API calls - the code that makes this call is here: https://github.com/OrbitzWorldwide/consul-client/blob/master/src/main/java/com/orbitz/consul/KeyValueClient.java#L96

when `watchSeconds` elapses, the cache will re-initiate a connection.

[2016-12-01 12:55] maorcatmyheritage commented on #186
Got it. It is now working well! Thank you very much for your help.

[2016-12-01 14:12] #186 closed

[2016-12-01 18:54] dtertman opened #187 "Add CatalogOptions to KeyValueClient, or add Datacenter to QueryOptions"
Sometimes it is necessary to query a Key/Value from another data center.  The most visible use-case is a developer working locally on the laptop/desktop, but wanting to act like a QA or PROD server.  Rather than running a local Consul instance, changing its datacenter, and redoing all of its joins, it would be much better to just tap into a consistent web API endpoint and use the existing WAN goss

[2016-12-01 23:19] rickfast commented on #187
Hmmm surprised I never added that. Also surprised it hasn't come up as an issue. Fixed by ef3ca727858ea7a627ca06576a7834b4df13a723

[2016-12-01 23:19] #187 closed

[2016-12-05 08:53] cesdocker opened #188 "Blocking call for value - Example Code - Issue"
Got the following issue for blocking call for value example code

java.lang.IllegalArgumentException: com.google.common.io.BaseEncoding$DecodingEx
ception: Invalid input length 17

[2016-12-07 07:46] Arun-Trichy opened #189 "How to register my service with path?"
I have my set of services running at

How do I register these services into consul client?

As, the register service does not have any options for giving a path other than the port.

[2016-12-07 08:22] Arun-Trichy commented on #189
I figured out the issue.

Thank You.

[2016-12-07 08:22] #189 closed

[2016-12-08 02:24] nirajpatel opened #190 "Telemetry Deserialization Issue"
Hi! It seems like in version 0.7.0 of consul the following String should be an array.

https://github.com/OrbitzWorldwide/consul-client/blob/a4cfd6aa94ad430c17872069205b427f26a75bbc/src/main/java/com/orbitz/consul/model/agent/Telemetry.java#L33

 I have tested making that change locally and everything seems to work properly.

[2016-12-08 11:44] DanielCharczynski opened #191 "Add support for registering services in catalog"
https://www.consul.io/docs/agent/http/catalog.html#catalog_register

[2016-12-08 11:48] DanielCharczynski opened #192 "Support for adding custom headers"
Is there possibility to add custom http headers?
We would like to use this lib, but we have proxy that requires some additional headers.
Our platform doesn't support consul agents and we will use it remontly.

[2016-12-08 23:35] rickfast commented on #190
If you already made the change locally can you make a PR then?

[2016-12-08 23:37] rickfast commented on #188
removed the base64 from the example code log line - a8c93754670f20025d65c926fb85497fd09731bf

[2016-12-08 23:37] #188 closed

[2016-12-08 23:41] rickfast commented on #192
Do you need them to be dynamic, or can they be defined at Consul client creation time?

[2016-12-08 23:42] rickfast commented on #191
I'll see if I can get to this sometime this week. PRs welcome.

[2016-12-09 21:12] rickfast commented on #192
use `Consul.Builder.withHeaders(Map<String, String> headers` introduced in 086b4b4b29fc45193ccc6c73f156fc430645c81b

[2016-12-09 21:12] #192 closed

[2016-12-09 21:47] rickfast commented on #190
fixed 68039e88ac1b6e26bdcb6b51464e776bf24724da

[2016-12-09 21:47] #190 closed

[2016-12-09 22:20] rickfast commented on #191
fixed by 46d8e335e0f451182b4766d361bbf788148958a5

[2016-12-09 22:20] #191 closed

[2016-12-12 03:16] nirajpatel commented on #190
Thanks @rickfast! Next time I will send a PR. Sorry about that. When will the next release be cut?

[2016-12-12 17:42] rickfast commented on #190
`0.13.6` is now available in central and bintray

[2016-12-14 15:50] nirajpatel commented on #190
Thank you sir :)

[2016-12-14 17:16] lbertrand opened #194 "NPE in KeyValueClient.getValuesAsString()"
If this method is called with a non existing key, a NPE is thrown, instead of the method returning an empty list

Simple unit test
[code]

[2016-12-14 23:03] rickfast opened #195 "vverefbkdtcncjvunvggegketlugcfgcfefcidtibecf"

[2016-12-14 23:04] #195 closed

[2016-12-15 23:19] YannRobert commented on #195
cats ... :)

[2016-12-15 23:20] rickfast commented on #195
actually, it was my yubikey :)

[2016-12-16 12:14] yfouquet-criteo opened #196 "Key/Value Cache - issue with getKeyExtractorFunction()"
Hi everyone,
It looks to me this method was working well (according to my needs) until October 4th when commit [159](https://github.com/OrbitzWorldwide/consul-client/commit/37149767ba21a6d26d126ff675a6e9332ebbd033) changed the way the method was implemented, and its behavior.
Then, 2 fixes were merged: [fix1](https://github.com/OrbitzWorldwide/consul-client/commit/0787000829195824154817ae47eaf52fd

[2016-12-16 12:16] yfouquet-criteo commented on #196
Note that if we cannot agree, it is still possible to change KVCache so that it is possible to override the method as done by @killerwhile in this [commit](https://github.com/OrbitzWorldwide/consul-client/commit/30870acc23ee7bce68feb681ca369faca215900d)

[2016-12-16 13:52] rickfast commented on #196
This seems to satisfy the most cases out of every PR I've merged regarding the KVCache, so I'm okay with it.

[2016-12-16 14:12] rickfast commented on #194
Thanks for providing a unit test. I'll see if I can get to this next week.

[2016-12-20 09:17] #196 closed

[2016-12-21 04:42] rickfast commented on #194
fixed by ec0f9acbfa9494201722a24e2ac06743bc6591ed

[2016-12-21 04:42] #194 closed

[2016-12-22 13:23] vicmosin opened #200 "Accessing consul instance on host machine from docker container"
Tried different options (providing local, 127.0.0.1 and real IP addresses) to container, but still doesn't work.. App inside container can't find hosts.

`docker run -e consul.host=http://consul.service.consul:8500 -p 6080:8080 container`

[code]
[code]

[2016-12-26 15:12] guss77 opened #201 "`AgentClient.pass()` always throws `com.orbitz.consul.NotRegisteredException`"
I've implemented the service registration and check-in exactly as per the examples:

    		consul.agentClient().register(8080, 300, "test-client", id);
		consul.agentClient().pass(id);

But I keep getting a `com.orbitz.consul.NotRegisteredException` exception.

tracing through the code, I can see that the error from Consul is `Consul request failed with status [500]: CheckID "service:id-RAtstC2HnE

[2016-12-27 13:19] rickfast commented on #200
Can you try a dig on the DNS name from inside the container? I don't think this is a problem with the client

[2016-12-29 13:39] lbertrand opened #202 "Allow to override default read timeout for a specific API"
In order to use the library for normal API and also the blocking API, in order to watch KV modifications, for example, we have to create 2 consul client as the read timeout is set up at the client level ,but can't be overriden on a specific API call.

If we want to reuse the same client, either we have to accept a longer timeout for normal APIs, like if we want to block for watching for 5 minutes.

[2017-01-03 13:43] rickfast commented on #202
I'll take a look at options for this. Not sure if there's a clean way to do this and preserve the current API

[2017-01-11 16:48] shveik opened #203 "Builder patterns are reversed"
Hi, first of all, great library, very useful. I was trying to use the ImmutablePutOptions and ran into a "reversed build pattern". Is there any reason why it's

`ImmutablePutOptions.builder().build().withCas(...)` instead of

ImmutablePutOptions.builder.withCas(...).**build()**

Seems like standard pattern is to get an instance of the builder, set the options, and then finalize it with build().

t

[2017-01-12 11:31] rickfast commented on #203
The builders are generated using the "immutables" library, so I don't really have control over how theey work. Calling any "with*" method makes a full immutable copy of the object, so it's a convenience method to avoid the whole build chain.

[2017-01-12 11:31] #203 closed

[2017-01-12 13:39] DanielCharczynski opened #206 "TLSSkipVerify support from consul 0.7.2"
Could you add TLSSkipVerify flag support?

https://www.consul.io/docs/agent/http/agent.html#agent_service_register

Thanks

[2017-01-13 13:48] DanielCharczynski opened #207 "ServiceHealthCache lack of notification"
When I use
[code]
and

[code]
and  "serviceName" doesn't exists in consul catalog notify method is not executed.
it means that  cache is not initialized

It would be nice to initialize it with empty values

Thanks

[2017-01-14 21:19] rickfast commented on #206
I'll see if I can get to it this week. Should be an easy PR if you need it sooner.

[2017-01-15 20:43] gjesse commented on #203
@shveik, you don't have to call the `build()` first, you can create a single object like

`ImmutablePutOptions.builder().cas(...).build()`, which is what i think you're looking for.

Once you have the object, using the `with` syntax is nice if you need a modified copy.

[2017-01-16 19:18] shveik commented on #203
yes, thank you for pointing it out, i saw these after i submitted the issue. it was more of a question anyways.

[2017-01-16 21:16] rickfast commented on #206
fixed - 962d6b86dbc023220e124d89f849116855ccabb1

[2017-01-16 21:16] #206 closed

[2017-01-17 10:53] DanielCharczynski commented on #206
There is no possibility to set up this value and register in consul

[2017-01-17 10:58] DanielCharczynski opened #208 "set up TLSSkipVerify during registrations"

[2017-01-17 12:25] rickfast commented on #208
Can you use 'AgentClient.register(Registration)'?

[2017-01-19 13:44] DanielCharczynski commented on #208
Yes but ImmutableRegCheck.Builder does not provide possibility to set TLSSkipVerify flag

[2017-01-19 18:33] rickfast commented on #208
Yes it does - see my commit -> 962d6b86dbc023220e124d89f849116855ccabb1

Just tried it:

[code]

If you're testing the source, make sure you regenerate the generated immutables. I'll release a new version later today

[2017-01-20 11:51] DanielCharczynski commented on #208
OK I didn't notice that immutables are generated.
I'll be very grateful for the release.

Thanks a lot

[2017-01-20 12:42] rickfast commented on #208
0.13.9 is released

[2017-01-20 12:42] #208 closed

[2017-01-27 20:46] dpish7 opened #209 "KV client- No putValue() method that accepts token as a put option/query param"

[2017-01-27 20:46] #209 closed

[2017-01-27 20:47] dpish7 opened #210 "KV client- putValue() method does not support pasing token"
Hello,

I noticed that the KeyValueClient does not support passing a token(acl token) for a PUT to the KV store.The client does have GET methods that let you pass a token as a query option.

The client has putValue() methods with PutOptions but PutOptions currently only supports 'cas', 'acquire' and 'release'.
There is not support for  consul PUT v1/kv/<key>?token=<token>.

Can PutOptions be updat

[2017-01-30 12:24] DanielCharczynski opened #211 "SERIOUS PROBLEM ! - this lib wont work since consul 0.7.3"
Change log
https://github.com/hashicorp/consul/blob/master/CHANGELOG.md

but
package okhttp3;

public final class Dispatcher {
  private int maxRequests = 64;
  private int maxRequestsPerHost = 5;

The easiest way is to allow to set this values to MAX_INT

[2017-01-30 13:40] DanielCharczynski commented on #211
it is important to us
 look at this
https://github.com/OrbitzWorldwide/consul-client/pull/212

I you accept the PR please release new version

[2017-01-31 06:21] odiszapc opened #213 "Support healthcheck initial state during service registration"
Here https://www.consul.io/docs/agent/http/agent.html#agent_service_register
in **/v1/agent/service/register**

Do we support this field in java api? Looks like not, fix me if I'm wrong. If there has no support are you ok with me to provide a pull request?

[2017-01-31 13:42] mattnathan opened #214 "HostAndPort.getHostTest() has been deprecated in favor of getHost() in Guava 20.0"
While this isn't an issue until Guava 22.0, when the method will be removed, I thought I'd create an issue anyway just to track it.

See https://github.com/google/guava/wiki/Release20#commonnet

[2017-02-01 10:34] rickfast commented on #213
i am ok with a PR for this.

[2017-02-01 10:51] rickfast commented on #213
fixed in 4fbe6b2c90fb333ceaabfb2267eeeae5bf987814 - 0.13.10

[2017-02-01 10:51] #213 closed

[2017-02-01 10:52] rickfast commented on #211
merged and release in 0.13.10

[2017-02-01 10:52] #211 closed

[2017-02-01 10:52] rickfast commented on #210
fixed here 4fbe6b2c90fb333ceaabfb2267eeeae5bf987814

[2017-02-01 10:52] #210 closed

[2017-02-01 10:53] rickfast commented on #200
assuming problem is fixed since you didn't reply. closing for now

[2017-02-01 10:53] #200 closed

[2017-02-01 10:53] #174 closed

[2017-02-01 10:53] #160 closed

[2017-02-07 13:48] wenhx8 opened #215 "Memory leak"
when i shutdown tomcat that use consul-client  in servlet on destroy function, tomcat log appear below warning:
07-Feb-2017 21:40:02.367 WARNING [localhost-startStop-2] org.apache.catalina.loader.WebappClassLoaderBase.clearReferencesThreads The web application [autodeploy] appears to have started a thread named [OkHttp ConnectionPool] but has failed to stop it. This is very likely to create a memo

[2017-02-08 00:38] alugowski commented on #201
I'm experiencing the same problem.

I think it has to do with having multiple checks. `pass()` constructs the check ID to be `"service:" + serviceId`, but if you have multiple checks then Consul also appends `:1` or `:2` to the check. Therefore `pass()` ends up checking in to a check that doesn't exist.

I have no workaround other than registering only the dead man switch, and even then I've had C

[2017-02-08 07:11] alugowski commented on #201
I found a workaround.

`RegCheck`, the class used to bundle check registration with service registration, doesn't allow you to specify IDs, and for whatever reason sometimes it auto selects an unworkable ID. If you include your dead man switch registration here then you're at the mercy of Consul choosing the ID that `pass()` expects.

`Check` is a different but nearly identical class that you use

[2017-02-08 07:14] alugowski commented on #201
@rickfast and Orbitz team:

I think it makes sense for the `check` specified in registration to have a forced id of `"service:" + serviceId` to make sure `pass()` works properly. `checks` can be left alone.

[2017-02-08 20:58] ltamrazov commented on #201
+1 on this issue

[2017-02-08 21:06] rickfast commented on #201
@alugowski there is no more orbitz team. i maintain this when i get time. unfortunately, i don't have time this week to look into this. if you make a PR i will be happy to merge it and cut a release for you

[2017-02-08 21:09] rickfast commented on #215
This isn't a memory leak. It's just warning about threads that didn't stop when tomcat shutdown. I just merged a change that will change the threads to daemon threads. Will likely make this WARNING go away.

[2017-02-08 21:09] #215 closed

[2017-02-10 01:38] alugowski commented on #201
@rickfast I see, no worries. This fix would only be for future users. Registering checks separately works better for my use case anyway, so I'm not blocked.

I'm not sure where the best place to implement the check id would be. `RegCheck` doesn't have an Id field at all. I guess that field would have to be added, then right before registration if the Id is null it's set to `"service:" + serviceId`

[2017-02-17 21:48] shaharck commented on #157
FYI this is needed from the newly introduced node-meta filter as well

[2017-02-18 21:03] rickfast commented on #157
I have a release candidate out with this change: `0.14.0-RC1`. Try it out

[2017-02-18 23:52] shaharck commented on #157
@rickfast that was super fast :) i'll check it out

[2017-02-19 13:10] Hronom commented on #135
Me to, what the status of this?

[2017-03-03 20:46] asador opened #225 "KeyValueClient.getKeys throws 404 instead of empty list when the path does not exist"
If the given key does not exist, calling getKeys on it never returns an empty list, instead it throws ConsulException with 404 code, while getValue method doesn't throw 404 in the same scenario. These methods should be consistent in handling key not found situation.

[2017-03-07 22:32] YannRobert commented on #225
looks like #173

[2017-03-27 12:42] #157 closed

[2017-03-28 13:44] simon1212 opened #229 "service registration example is not working"
It looks like consul client 0.14.0 is using the wrong version of jackson-datatype-guava.

When i execute

[code]

I get the following exception:

[code]

This solved the problem for me:

[code]

See also:
https://github.com/FasterXML/jackson-datatype-guava/issues/78

[2017-03-28 14:42] rickfast commented on #229
Since you already fixed it, how about a pull request.

[2017-03-28 14:46] rickfast commented on #229
Unit tests are passing, and they perform registrations. Are you sure there's not a conflict with your other dependencies

[2017-03-28 14:49] simon1212 commented on #229
pretty sure there where no other dependencies on this. i'm trying to reproduce the problem in the consul-client repo.

[2017-03-29 06:29] simon1212 commented on #229
ok there is a dependency conflict in my project. sorry for wasting your time. thanks for the fast response!

[2017-03-29 06:29] #229 closed

[2017-03-29 11:33] MatrixCrawler opened #230 "keyValueClient.getValue produces NoSuchMethodError"
Hi,

i just realised that fetching a value from the keyvalue store causes a NoSuchMethodError

I am using Consul-Client 0.14

This is the Testcase
@Test
    public void test_consulGetValue() {
        Consul consul = Consul
                .builder()
                .withHostAndPort(HostAndPort.fromParts("localhost", 8500))
                .build();
        KeyValueClient keyValueClient = consul.k

[2017-03-29 11:47] rickfast commented on #229
No problem

[2017-03-29 13:45] #230 closed

[2017-03-29 13:45] MatrixCrawler commented on #230
Was a conflicting library

[2017-04-03 08:20] shays10 commented on #135
Yup, stepped on this one as well. Thanks for helping out!

[2017-04-20 13:37] ryansmithevans opened #231 "Consul class has no hashcode/equals"
Difficult to do equality checks as no hashcode/equals has been implemented.

[2017-04-26 01:57] curena commented on #180
Was this ever resolved? I'm having the same problem, would like to know if there's a workaround.

[2017-04-26 08:40] EvertMDC commented on #180
Unfortunately not. This is the oldest item on my todo list but I'm not really sure where I could find more info.

[2017-04-27 21:20] #207 closed

[2017-04-29 07:17] sverhagen opened #234 "enforcer.DependencyConvergence failed"
Using 0.14.0.

Getting a [dependency convergence failure](http://maven.apache.org/enforcer/enforcer-rules/dependencyConvergence.html), using the Maven Enforcer Plugin. Through two different dependency paths, this library depends on two different versions of `com.squareup.retrofit2:retrofit`. This is not highly critical, and things likely work for most people (they did "work" fine for me), but the

[2017-05-12 09:48] zhanazhan opened #235 "Add automatic deregistration option"
Added deregistration option when service is failing, greatly helps when service was killed with -9 option.

If you guys want to update `Registration` class, here is the change.

[Registration.java.txt](https://github.com/OrbitzWorldwide/consul-client/files/995672/Registration.java.txt)

[2017-05-16 12:28] xiaogaozi commented on #81
The latest consul-client has use OkHttp now, so if you encounter this situation, you could make read timeout longer use `Consul.Builder.withReadTimeoutMillis()`. If you don't, OkHttp [default](https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/OkHttpClient.java#L482) set read timeout to 10 seconds.

[code]

[2017-05-18 21:24] khaosans commented on #180
I am also running into this same issue with a dockerized consul agent running on the same host.

[2017-05-21 10:04] timboven opened #236 "Cannot build Config, some of required attributes are not set [uiDir] (Consul 0.8)"
With Consul 0.8 the uiDir attribute isn't needed anymore (Consul actually gives alerts about this in its logging if you do) - but removing that parameter gives an error in this client when requesting the agent (AgentClient.getAgent)

The error that is thrown:
Caused by: java.lang.IllegalStateException: Cannot build Config, some of required attributes are not set [uiDir]
        at com.orbitz.consu

[2017-05-21 10:54] #236 closed

[2017-05-30 18:22] jplock commented on #235
Do we need to add https://github.com/OrbitzWorldwide/consul-client/pull/168 in another spot?

[2017-06-01 18:50] rickfast commented on #235
Make a PR and I'll merge it

[2017-06-05 20:02] thomas-oo commented on #157
Sorry this is a bit confusing, I'm using 0.15.0 and it's claimed to be fixed in 0.14.0. Multiple tag queries in `CatalogClient.getServices(service, queryOptions)` for example doesn't work and only filters using the first tag. There's an [upstream issue in consul](https://github.com/hashicorp/consul/issues/1781) where multiple tags have not been supported through the parameters.

On a sidenote: Cou

[2017-06-19 19:10] thomas-oo opened #239 "java.net.SocketException: Socket closed"
Socket closed exception occuring after executing various client queries or after some time has passed between queries. It happens to catalogclient, agentclient, etc. Do I need to reload these clients or something? I am not sure why the sockets are closing.

[2017-06-19 19:12] thomas-oo commented on #239
[Stack trace](https://gist.github.com/thomas-oo/51fcd4010f3e5ba258b18aa02486dfff)
`java.net.SocketException: Socket closed
	at java.net.SocketInputStream.read(SocketInputStream.java:204) ~[na:1.8.0_131]
	at java.net.SocketInputStream.read(SocketInputStream.java:141) ~[na:1.8.0_131]
	at okio.Okio$2.read(Okio.java:140) ~[okio-1.8.0.jar:na]
	at okio.AsyncTimeout$2.read(AsyncTimeout.java:238) ~[okio-1

[2017-06-19 19:18] thomas-oo commented on #239
And when I visit the ui of the consul agent, it is stuck at loading

[2017-06-19 21:02] thomas-oo commented on #239
In [com.orbitz.consul.util.Http.extractConsulResponse](https://github.com/OrbitzWorldwide/consul-client/blob/master/src/main/java/com/orbitz/consul/util/Http.java): shouldn't response.body.close be called? This is from a quick search online that the practice is to close the stream. This is probably why the consul agent is running out of sockets to establish connections to?

[2017-06-20 03:37] dilipmevada commented on #186
Hi,
How to get latest changes of Key Value in .Net, Do we I required special code for it?

Please give me some sample code for it.

[2017-06-20 15:18] thomas-oo commented on #239
Unrelated problem was causing this error, closing

[2017-06-20 15:18] #239 closed

[2017-06-22 22:51] aash73 opened #241 "Getting an Exception when a value is set in Consul?"
Hello there,
I wrote a simple java client which connects to Consul running on local host, gets a KeyValueClient out and then try to retrieve the value of a key. If the key is NOT set in Consul, everything is fine (i.e. no exception), but if the value is there, I get an exception. Here is the exception:
Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.primitives.UnsignedLon

[2017-06-22 23:49] aash73 commented on #241
Hello there,
I also tried the following,
			String value = m_kvClient.getValueAsString(aKey).get();
			System.out.println("getStringValueEx(): Key: " + aKey + ", Value: " + value);
			return (value);
throws the same exception as before. this code is from the code example in the README file. I can successfully insert a value using "putValue()" method on the KeyValueClient, right before I call the g

[2017-06-23 21:56] aash73 commented on #241
Folks, I am pretty much stuck. Any help would be greatly appreciated.
Thanks

[2017-06-23 22:04] rickfast commented on #241
Looks like a version mismatch with Guava. You likely have a different version on your classpath that doesn't have the decode method

[2017-06-23 22:08] aash73 commented on #241
Rick, I do appreciate your response. Thanks.  I am using Maven to build my test client. Here is what the dependency looks like:
      <dependency>
            <groupId>com.orbitz.consul</groupId>
            <artifactId>consul-client</artifactId>
            <version>0.15.0</version>
      </dependency>

      <dependency>
            <groupId>com.google.guava</groupId>
            <artifactId>gua

[2017-06-23 22:10] aash73 commented on #241
Rick, I do appreciate your response. Thanks. I am using Maven to build my test client. Here is what the dependency looks like:
`      <dependency>
            <groupId>com.orbitz.consul</groupId>
            <artifactId>consul-client</artifactId>
            <version>0.15.0</version>
      </dependency>

      <dependency>
            <groupId>com.google.guava</groupId>
            <artifactId>gua

[2017-06-23 22:26] aash73 commented on #241
Ah, getting the newest version (i.e. 22.0) of guava resolved it.
THANK YOU Rick for the help. Appreciate it.
one other question. Do we have API documentation (unofficial is also OK) please?

[2017-06-23 22:38] rickfast commented on #241
Consul API docs are at consul.io and this library has published Javadocs in Maven Central

[2017-06-23 22:44] #241 closed

[2017-06-27 10:46] elleFlorio opened #242 "Prepared query with template"
Hi,

I was trying to create a prepared query using a template, but I couldn't figure out how to do it. Looking into the code, seems that the PreparedQuery class doesn't have a field to store the template. Is it a "bug" or am I missing something?

Thanks.

[2017-06-27 12:33] shays10 opened #243 "KeyValueClient: getValue(s) functions' return value isn't wrapped with ConsulResponse"
Blocking calls to `getValues(String key, QueryOptions queryOptions)` aren't returning `ConsulResponse<List<Value>>` but returning `List<Value>`
(In my case, I need the index value from the response)

[2017-06-27 15:53] elleFlorio commented on #242
Anyway, if it is a bug I fixed it. If you want I can do a pull request. ;-)

[2017-06-29 15:30] rickfast commented on #242
Looks like a bug - forgot to add the field to PQ :/ PR is welcome. I can release a new version after

[2017-06-29 15:31] rickfast commented on #243
We just ran into this at Orbitz/Expedia for a project. We will add this shortly.

[2017-06-30 11:24] rickfast commented on #242
Yup

[2017-06-30 12:48] elleFlorio commented on #242
Ok, done. Thanks!

[2017-07-02 11:02] shays10 commented on #243
Great, thanks!

[2017-07-02 19:40] #242 closed

[2017-07-03 07:02] #243 closed

[2017-07-03 16:43] alugowski commented on #135
As of v0.15 (probably earlier) `withReadTimeoutMillis(20000)` has no effect on this exception. Now that timeout is read from a property that you can set like this:

    System.setProperty("com.orbitz.consul.cache.backOffDelay", "20000");

[2017-07-12 15:32] DanielCharczynski opened #247 "agent/service/deregister/{serviceId} should be PUT not GET"
According to
https://www.consul.io/api/agent/service.html#deregister-service

deregistration should use PUT HTTP method not
@GET("agent/service/deregister/{serviceId}")

there is no possibility to pass ACL token

[2017-07-12 15:35] DanielCharczynski opened #248 "There is no possibility to pass ACL token according to agent/service/deregister/{serviceId}"
Registration has that feature but deregistration doesn't

        @PUT("agent/service/register")
        Call<Void> register(@Body Registration var1, @QueryMap Map<String, Object> var2);

        @GET("agent/service/deregister/{serviceId}")
        Call<Void> deregister(@Path("serviceId") String var1);

[2017-07-12 22:11] #247 closed

[2017-07-12 22:11] #248 closed

[2017-07-14 00:04] alugowski opened #250 "ServiceHealthCache constructor drops QueryOptions"
This constructor accepts a QueryOptions argument, but then ignores it and forwards QueryOptions.BLANK instead:

https://github.com/OrbitzWorldwide/consul-client/blob/0.16.1/src/main/java/com/orbitz/consul/cache/ServiceHealthCache.java#L75

    public static ServiceHealthCache newCache(
            final HealthClient healthClient,
            final String serviceName,
            final boolean pass

[2017-07-14 22:23] #250 closed

[2017-07-17 13:10] akd31 opened #252 "Subscribing key value notifies when another KV is modified"
Hi,

Thanks for really great client. I want to subscribe a special key lets say foo. Here is my code ;

[code]
I don't know if it is a problem but when I modify the value of the another key like baz notify is called and it prints the value which is same as previous. As I said I don't know if this is a problem or not. If not I think I should manipulate the notify method according to modifyIndex so

[2017-07-18 20:37] dpish7 opened #253 "Add QueryOptions parameter to getKeys() in KeyValueClient"
It would be nice to be able to pass in token parameter to getKeys() for the API:  GET /v1/kv/{key}?keys

[2017-07-19 06:54] akd31 commented on #252
I figured it out no need for reply thanks

[2017-07-19 06:54] #252 closed

[2017-07-20 08:16] akd31 commented on #225
(https://github.com/OrbitzWorldwide/consul-client/blob/67a64b9f2331ae4ea88fdab2ace16f48064c0e64/src/main/java/com/orbitz/consul/KeyValueClient.java#L357 )

says @return A list of zero to many keys. However it throws Consul Exception when the path doesn't exist. I think it should return empty list either.

[2017-07-25 06:44] aiyanbo commented on #214
+1

[2017-07-29 00:10] alugowski commented on #235
This already exists. Consul keeps track of this timer for health checks, not service instances. You can add a deregisterCriticalServiceAfter to any health check:

	Registration.RegCheck deadManSwitch = ImmutableRegCheck.builder()
			.ttl("10s")
			.deregisterCriticalServiceAfter("3h")
			.build();

[2017-07-29 00:36] alugowski commented on #135
Here's why increasing the OkHttp read timeout helps.

There are two timers in a cache. One is the read timeout, which is how long OkHttp will wait for a response (OkHttp default is 10s). The second is the blocking request wait time. The client makes a call, and if there is no change then Consul waits at most this amount of time to reply "no change".  `consul-client` default is _also_ 10s.

But see

[2017-07-29 00:58] alugowski opened #255 "Make the ConsulCache wait time less than OkHttp read timeout"
I think the defaults could be adjusted to have fewer people experience the constant timeout as seen by #135 .

There are two timers in a cache. One is the read timeout, which is how long OkHttp will wait for a response (OkHttp default is 10s). The second is the blocking request wait time, and `consul-client` default is _also_ 10s.

But see this in the Consul blocking queries docs (https://www.cons

[2017-08-03 07:05] shortstories opened #257 "Value.getValueAsString Charset error"
Because of using Korean windows, my java default charset is `MS949`. In this case, I get broken result when I call `Value.getValueAsString()` for get value that contains korean. It is natural result because consul uses `UTF-8` to convert string to bytes. Perhaps a similar problem can occur in Chinese and Japanese.

To solve this problem, there are the following methods.
1. Add JVM Option : `-Dfile

[2017-08-03 11:56] rickfast commented on #257
Make a PR and I'll merge it. Otherwise, I won't be able to get to this until next week

[2017-08-23 13:52] dyeshurun opened #259 "How do I "restart" watching Key-Value"
I am connecting consul using a token that can be revoked and then I am starting to watch for changes using KVCache.
When my consul token is expired I see "Error getting response from consul" in the log (coming from ConsulCache onFailure callback).
I couldn't find a way to intercept this failure and re-connect to consul.
Any idea?

[2017-08-30 09:20] Hronom opened #260 "Add compatibility table"
Please add compatibility table, I need to know with what version of Consul this client is compatible.
Or at least what version of Consul you use while develop this plugin.

Thanks in advance!

[2017-08-30 12:59] rickfast commented on #259
You might have to use the lower level API to do this unfortunately. I don't have the time at the moment to update `ConsulCache` to support this. PRs welcome

[2017-08-30 13:00] rickfast commented on #260
I've made an effort to maintain backwards compatibility w/ the client. When a new version of Consul comes out, we add new API fields as needed. At Expedia, we are using the latest client version with Consul 0.7.1. I'm not going to go back and test each version of Consul w/ the client. Is there a specific problem you're having?

[2017-08-30 13:02] Hronom commented on #260
No problems, I'm just switching to `0.16.3` of client and I want to make sure that it works well with Consul `0.9.2`

[2017-08-30 13:12] dyeshurun commented on #259
Meanwhile I used "ConsulBookend" , I am checking the status code in the "post" method and do my reconnection there

[2017-08-30 13:33] rickfast commented on #260
My guess is that the worst case is that a few fields need to be added. I haven't tried 0.9.x yet. Closing this issue. If you have an issue with 0.9 feel free to file a new issue or PR

[2017-08-30 13:33] #260 closed

[2017-08-31 19:44] kgignatyev-inspur opened #261 "TaggedAddresses should support 'lan'"
com.orbitz.consul.model.catalog.TaggedAddresses should support 'lan' attribute as a minimum, better yet make it to support any number of addresses  per
https://www.consul.io/api/catalog.html#taggedaddresses
 here is example registration request

{
  "Datacenter": "dc1",
  "ID": "40e4a748-2192-161a-0510-9bf59fe950b5",
  "Node": "foobar",
  "Address": "192.168.10.10",
  "TaggedAddresses": {
    "lan

[2017-10-02 12:39] DanielCharczynski opened #264 "retrofit update"
Coud you update retrofit dependency to the newest one and release new version?

<dependency>
  <groupId>com.squareup.retrofit2</groupId>
  <artifactId>retrofit</artifactId>
  <version>2.3.0</version>
</dependency>

There are some fixed issues in okhttp 3.9.0

Thanks

[2017-10-02 12:59] rickfast commented on #261
fixed 2220fe4969b4d1f91fe380543b717ca11be74d72

[2017-10-02 12:59] #261 closed

[2017-10-02 13:00] rickfast commented on #264
aa838f7a3c6ee6c1640dc8f4cf998176bfab46cc

[2017-10-02 13:08] rickfast commented on #264
`0.16.4` is uploading now

[2017-10-02 13:08] #264 closed

[2017-10-26 16:35] pkwarren opened #266 "shaded consul-client shouldn't include Guava transitive dependencies"
Since updating to a newer version of Guava, the shaded client has started shipping Guava transitive dependencies (without relocating them):

[code]

Since guava is excluded from shading (https://github.com/OrbitzWorldwide/consul-client/blob/aa41cbd47d1653c2d6a2533cf93c58c89ba80375/pom.xml#L258), it would be helpful if these weren't shaded either to avoid class conflicts at runtime.

As part of ana

[2017-10-27 12:19] philippeu opened #267 "failed to parse agent config with consul 1.0.0"
consul-client 0.16.5 failed to parse agent configuration with lastest consul version 1.0.0
`agentClient().getAgent().getConfig()`

The following execption is thrown
`Caused by: java.lang.IllegalStateException: Cannot build Config, some of required attributes are not set [bootstrap, dataDir, dnsRecursor, domain, logLevel, clientAddr, bindAddr, advertiseAddr, ports, leaveOnTerm, skipLeaveOnInt, prot

[2017-10-27 12:30] rickfast commented on #267
It appears there are a number of breaking changes in Consul 1.0. I will address these sometime in the coming week

[2017-11-01 21:21] rickfast commented on #267
fixed by 0f4ea7aa220289ad2a76512a5e6652ee45b90282. Thanks @Furcube !

[2017-11-01 21:21] #267 closed

[2017-11-17 12:58] teoincontatto opened #270 "Prepared query does not allow to specify datacenter"
Hello,

First of all thanks for this nice library to wrap Consul REST API in a confortable Java API.

I found that in the prepared query API it is not possible to specify the datacenter (field "dc" in Consul REST API). I know it is not so common use case but I think it would improve the project quality to have it.

Cheers,
Matteo

[2017-11-24 08:44] #270 closed

[2017-11-24 09:03] teoincontatto opened #274 "Prepared query failover datacenters error"
Hello,

I get an error when trying to execute following API call to create a prepared query:

[code]

The error from Consul is:

[code]

It seems like Datacenters type in Failover model should be replaced with `Optional<List<String>>`.

Cheers,
Matteo

[2017-11-29 09:31] shekhar2709 opened #275 "byte array support for kV value."
I need an api help to store byte[] in kV, as we can do in zookeeper. I am using consul-client java api's. Please help

[2017-11-30 06:01] shekhar2709 commented on #275
I digged into the api code and found that string is ultimately converted to byte[], which is quite obvious. But consul-client api is not exposing any api to take byte[] as KV value input. Please provide such an api, it should not be a difficult affair.

Code reference :
Class - okhttp3.RequestBody

public static RequestBody create(@Nullable MediaType contentType, String content) {
    Charset char

[2017-11-30 06:26] shekhar2709 commented on #275
@rickfast We would need change into
1. com.orbitz.okhttp3.jar - okhttp3.RequestBody.java
2. com.orbitz.consul.KeyValueClient.java

[2017-11-30 11:47] rickfast commented on #275
Can’t you just create a string from your byte array e.g. `new String(myByteArray)`?

[2017-12-01 05:41] shekhar2709 commented on #275
Thanks for your suggestion. I did not realize that we could actually recreated my serialized object by this. I will try out.

[2017-12-01 09:02] shekhar2709 commented on #275
Not able to deserialize my Object.
Getting java.io.StreamCorruptedException: invalid stream header: 77717A44

Here is part of my test code.

MyInvokePacket packet = new MyInvokePacket();
kvClient.putValue("k1", new String(serialize(packet)));
Optional<Value> op = kvClient.getValue("k1");
Value v = op.get();
Optional<String> ss= v.getValue();
String s2 = ss.get();
Object deser = deserialize(s2.getB

[2017-12-01 12:59] adericbourg commented on #214
It seems like this issue can be closed since it's been fixed by https://github.com/OrbitzWorldwide/consul-client/commit/17d06548d3d19a6db5e3d044744f69b3a7e8fe24 (#254)

[2017-12-04 08:48] shekhar2709 commented on #275
@rickfast Please see above code. I cannot recreate my object.
Ecwid/consul-api provides - getKVBinaryValue("somekey") api for the same purpose. This does perfect job.

[2017-12-04 13:13] adericbourg commented on #266
Guava is back in the shaded Jar (see 2995997b638aee9354537014941cfd5b704f0940), so I guess this issue is obsolete?

Do you agree @pkwarren?

[2017-12-04 13:58] rickfast commented on #275
Ok then you can either use that other library or make a pull request. It is unlikely that I will have time to implement this for you in the near future

[2017-12-05 12:37] wanghuatao opened #281 "service deregister bug"
if i use agentClient.deregister() ,the http method   @PUT("agent/service/deregister/{serviceId}") will changed to get

Response{protocol=http/1.1, code=405, message=Method Not Allowed, url=http://127.0.0.1:8500/v1/agent/service/deregister/sId:akka.tcp:/ClusterSystem@127.0.1.1:37390?consistent=}

[2017-12-06 14:26] pkwarren commented on #266
This is partially fixed, however I noticed that both jsr305 and animal-sniffer-annotations are both packaged in the shaded jar now (without relocation).

![Screenshot](https://www.dropbox.com/s/87kdbpgzoe1n3ev/Screenshot%202017-12-06%2008.24.24.png?raw=1)

[2017-12-12 17:12] bitsofinfo opened #282 "AgentClient.ping: "java.io.EOFException: \n not found: size=0 content=…""
Getting this talking to consu 0.7.5 and 1.x+  on 8500 (non-ssl)

Using either 0.13.2 or 0.17.1

[code]

OR

[code]

[code]

[2017-12-14 11:59] rickfast commented on #282
On vacation til week after next, so I won’t be able to look at this until then. PRs welcome

[2017-12-18 17:09] adericbourg commented on #266
Indeed. I tried to relocate `javax.annotation` from jsr305 only but I cannot find a way to do that with the Maven Shade plugin.

[2017-12-27 15:01] yfouquet commented on #255
Hi @alugowski ,
I think that https://github.com/OrbitzWorldwide/consul-client/pull/289 fixed your issue, and it can be closed.
Instead of setting the default watch to 8 seconds, it increased the timeout depending on the wait duration.

[2017-12-27 15:02] yfouquet commented on #202
Hi @lbertrand ,
I think that https://github.com/OrbitzWorldwide/consul-client/pull/289 fixed your issue, and it can be closed.

[2017-12-27 15:02] #255 closed

[2017-12-27 15:07] #202 closed

[2017-12-27 21:18] alugowski commented on #255
That looks like it should work, thanks!

[2018-01-12 18:13] yfouquet opened #294 "Improving the library"
Hello @rickfast,

We are using this library at scale for more than a year now.
We would like to keep improving the library, mostly regarding monitoring and tests.

I have pushed some PRs, but many others are to come. Would you consider discussing the possibility to give me or one of my teammates push rights on the library? As you can see on the previous PR, we will take care on not braking the lib

[2018-01-16 13:29] rickfast commented on #294
This repo is managed by Orbitz/Expedia.com and only employees have access for push. I'm out of the country for work at the moment, but I can talk to our security group at Expedia to find out if its appropriate to give non-employees push access. Will let you know.

[2018-01-16 13:33] yfouquet commented on #294
Noted, thanks.

[2018-01-25 09:08] SuppieRK commented on #201
I would like to raise this issue up by adding the fact that the type of the request now is different, instead of `GET` now there is `POST`: `http: Request GET /v1/agent/check/pass/, error: method GET not allowed`

[2018-01-26 07:22] alugowski commented on #201
@SuppieRK that is a separate issue that warrants its own ticket. This ticket is about a name mismatch only.

[2018-01-26 13:09] rickfast commented on #294
I’m going to see if I can transfer the repo to `/rickfast`, at which point I can give you push access. Will let you know.

[2018-01-26 13:35] yfouquet commented on #294
Awesome, do you want me to stop pushing PR until its done?
Or

[2018-01-26 13:37] rickfast commented on #294
no. i still have to get approval to transfer the repository, but I don't expect it to be an issue considering I'm the only employee contributing

[2018-01-26 13:37] rickfast commented on #294
any PRs on this repo will be transferred anyway

[2018-01-26 13:38] yfouquet commented on #294
(sorry for the closing issue)
That's good for us, thanks @rickfast.

[2018-01-26 15:44] rickfast commented on #294
you and alban are now contributors. enjoy! i will still have to perform releases for the time being

[2018-01-26 16:08] yfouquet commented on #294
Thanks a lot @rickfast!!

[2018-01-26 16:08] #294 closed

[2018-01-30 14:15] yfouquet opened #296 "Most Unit/Integration test are not run by travis"
In the [pom.xml](https://github.com/rickfast/consul-client/blob/master/pom.xml#L258) file, it is explicitely stated that only some tests are run depending on their names.

Hence, PRs are merged with failing tests for a while now.
All tests should be run by travis, and fixed if failing.

[2018-01-31 12:19] #296 closed

[2018-02-05 16:53] yfouquet opened #303 "Upgrade Consul version in test"
Currently, integration tests are done with Consul 0.7.2.
This version was released in December, 2016.
We would like to bump Consul to a newer version (some features disappeared, some new features were added).

What about upgrading to the last version i.e. Consul 1.0.3 (January, 2018) ?
@rickfast could you please give me your feedback on this one?

[2018-02-05 17:03] yfouquet commented on #303
As you can see in the review, the API is still running well with Consul 1.0.3
Only 2 tests were failing: one because a feature had to be activated in Consul (script checks), the other because non-printable characters are now forbidden (event test).

[2018-02-05 23:09] cricket007 opened #305 "CHANGELOG and Releases have diverged"
Please update your CHANGELOG when you release a new version.

[2018-02-05 23:20] rickfast commented on #305
I’ll rmember that next time.

[2018-02-05 23:20] #305 closed

[2018-02-05 23:22] cricket007 commented on #305
Any plans to go back over and fill in the missing versions? Reason being - we have some legacy apps that are using an older version of Guava, and want to more easily know which version to pick

[2018-02-05 23:24] rickfast commented on #305
The next time I generate it it should create a change entry for all Missed changes

Sent from my iPhone

[2018-02-05 23:29] rickfast commented on #305
https://github.com/rickfast/consul-client/blob/master/CHANGELOG.md

[2018-02-06 07:50] #303 closed

[2018-02-13 11:12] ZstringX opened #307 "Unable to shut down immediately during a blocking query"
Consul consul = Consul.builder()
            .withReadTimeoutMillis(5 * 60 * 1000)
            .build();

    Thread t = new Thread(() -> {
        Optional<Value> v = consul.keyValueClient().getValue("key");
        BigInteger index = BigInteger.valueOf(v.get().getModifyIndex());
        QueryOptions options = ImmutableQueryOptions.builder()
                .index(index)
                .wait("1m

[2018-02-13 11:14] ZstringX commented on #307
this should do the trick #308

[2018-02-13 12:51] yfouquet commented on #307
I've checked and it also works for caches.
Thanks @ZstringX.

[2018-02-13 12:51] #307 closed

[2018-02-14 17:41] nh2 commented on #201
@SuppieRK I don't think that's accurate: It's a `PUT`.

[2018-02-27 18:44] jadams74 commented on #73
Why a Null trust manager here? Doesn't this undo cert verification/validation?

[2018-02-27 18:57] rickfast commented on #73
yes, but the point of the comment wasn't to explain how Java SSL contexts work, it was to show how to provide it to the API

[2018-02-27 19:04] jadams74 commented on #73
roger, just hope noone c&p that snippet ;)

[2018-03-01 10:44] rkx-bloodshed commented on #275
add in https://github.com/rickfast/consul-client/pull/310

[2018-03-02 15:52] IvannKurchenko opened #314 "Snapshot API support"
Hello!

Thank you very much for all your hard work - this client looks really great, but I did not find [Snapshot API](https://www.consul.io/api/snapshot.html) implementation. Excuse me, if it's duplicate or invalid.

Thanks!

[2018-03-06 13:47] yfouquet commented on #314
Hi @IvannKurchenko,

I have checked with okhttp and the only way to use `InputStream ` would be to use `BufferedInputStream`.
This implementation has the drawback of loading all the data in memory (at some point).
Hence, if the snapshot is saved in a file, it is better to use a file directly (with `FileInputStream`).
I can still add support for byte array if you are interested, otherwise i think t

[2018-03-06 14:08] IvannKurchenko commented on #314
Hello, @yfouquet !

That's fine, I'm happy with current implementation.
Thank you very much for your work, well done!

Regards,
Ivan!

[2018-03-06 14:08] #314 closed

[2018-03-06 16:00] yfouquet commented on #275
I guess the issue can now be closed, as byte array are now supported.

[2018-03-06 16:00] #275 closed

[2018-03-26 21:08] edio commented on #259
@rickfast what lower level API exactly are you talking about?

[2018-04-12 23:06] msymons opened #318 "Update Jackson to v2.9.5"
Update jackson version from v2.7.4 (used in consul-client 1.1.1) to v2.9.5 to address [CVE-2018-7489](https://nvd.nist.gov/vuln/detail/CVE-2018-7489), a deserialization flaw in jackson-databind with CVSS v3.0 Base Score of 9.8 (critical)

Fix is also available in Jackson 2.8.11.1

Both of these Jackson versions also contain other CVE fixes when compared with Jackson v2.7.4

Note that it does not m

[2018-04-13 13:10] yfouquet commented on #318
Thanks for the notice @msymons.
We are working on it.

[2018-04-13 20:52] yfouquet commented on #318
It's done, thanks again.

[2018-04-13 20:52] #318 closed

[2018-04-17 00:48] chenjpu opened #321 "support service meta-data"
See [hashicorp/consul#3881](https://github.com/hashicorp/consul/pull/3881) -> [hashicorp/consul#1107](https://github.com/hashicorp/consul/issues/1107) .

[2018-04-18 19:40] yfouquet commented on #321
Hi @chenjpu,
This feature was release on April 13th in consul 1.0.7.
Hence, we need to upgrade the version of consul first (and ensure compatibility), and then add support for service meta-data.

[2018-04-19 05:03] #321 closed

[2018-04-19 10:12] tiny-cababge opened #326 "Exception in thread "main" java.lang.NoSuchMethodError: okhttp3.Interceptor$Chain.readTimeoutMillis()I"
When ever i tried to register, i get this error.
Exception in thread "main" java.lang.NoSuchMethodError: okhttp3.Interceptor$Chain.readTimeoutMillis()I
	at com.orbitz.consul.cache.TimeoutInterceptor.intercept(TimeoutInterceptor.java:28)
	at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:92)
	at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.ja

[2018-04-19 13:58] yfouquet commented on #326
Hi @tiny-cababge,

Can you please give us more details?
 - the version of the consul-client library
 - the classifier of the consul-client library (if any)
 - the version(s) of okhttp in your dependency tree.

It looks like you are not using (at runtime) the same version of okhttp.
Note that:
 - withReadTimeout() was introduced in okhttp in July 2017: https://github.com/square/okhttp/pull/3432
Thi

[2018-04-19 15:10] yfouquet commented on #326
I cannot tell you without without knowing what you use. Which version of consul-client do you use? Do you use the shaded artifact? Is there any other version on okhttp in your dependency tree?

Seeing the exception (NoSuchMethodError), you found the class, so you had a okhttp in your classpath. My guess is that an older version of okhttp was used (maybe because of other dependencies) and you got a

[2018-04-26 14:05] tiny-cababge commented on #326
So i think the package uploaded to maven central is wrong, but ive just not got round to checking it.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Yoann Fouquet <notifications@github.com>
Sent: Tuesday, April 24, 2018 8:20:10 AM
To: rickfast/consul-client
Cc: tiny-cababge; Mention
Subject: Re: [rickfast/consul-client] Exception in thread "main" java.lang.

[2018-04-28 15:33] dalaoting opened #327 "cannot resolve symbol "ImmutableHealthCheck" Class"
I git clone that,but I no see "ImmutableHealthCheck" Class

[2018-05-08 19:35] scottpettyjohn opened #328 "CatalogTests won't compile"
Missing dependencies:
import com.orbitz.consul.model.health.ImmutableService;
import com.orbitz.consul.option.ImmutableQueryOptions;

[2018-05-08 20:14] rickfast commented on #328
Scroll to the bottom of the README and you'll see instructions for using Immutables. These classes are generated

[2018-05-08 20:14] #328 closed

[2018-05-17 11:33] wang-shuai opened #329 "Cannot build TaggedAddresses, some of required attributes are not set [lan]"
` healthClient.getServiceChecks `  return healthy info
but when debug  ` healthClient.getHealthyServiceInstances `
the program builds url like 'http://localhost:8500/v1/health/service/esgrpc'
view in the brower，return info like：
[code]
` healthClient.getHealthyServiceInstances `  throw exception info like follows

[2018-05-21 09:01] yexianyi opened #330 "Does consul-client support custom user event?"
Hi,

is there any support for custom user event?
If so, could you pls show me a example?

Thanks very much!

[2018-06-01 07:16] yfouquet commented on #330
Hi @yexianyi,

Could you provide a simple use case for that? I don't exactly understand your needs.

[2018-06-01 07:47] yfouquet commented on #329
Hi @wang-shuai ,
Which version of Consul are use using?
Looking at the consul agent code, the "lan" address was added in Consul 0.7.

[2018-06-03 18:07] yfouquet opened #332 "Synchronisation of caches on server error"
When a Consul server fails, all blocking queries handled by the server returns almost simultaneously.
As the back off delay (in case of failure) is a fixed duration, all caches will retry (i.e. send a new blocking query) simultaneously.
If we consider that thousands of services use Consul in our cluster, and that each service uses several caches, such a retry mechanism leads to a very high number

[2018-06-20 12:05] yfouquet opened #339 "Release"
Hi @rickfast,

Could you please do a release of the consul client?
We would like to integrate the changes in our system.

[2018-06-20 22:20] rickfast commented on #339
done

[2018-06-20 22:20] #339 closed

[2018-06-21 07:49] yfouquet commented on #339
Thanks @rickfast

[2018-07-11 07:18] sliabat opened #340 "Register Check do not work if not TTL"
Hi,

I try to register a check with a script, and it dos not work. It seams your code has the deprecated API of check register.

This is the json who work : www.www.fr//v1/agent/check/register
`{
  "ID": "ws-devops-js",
  "Name": "ws-devops-js",
"ServiceID": "ws-devops-js",
"args": ["/opt/devops/scripts/consul/check_cassiopee_to_consul.sh", "http://devops.ucanss.fr:5001/supervision"],
  "Interval"

[2018-07-11 07:41] sliabat commented on #340
official API : https://www.consul.io/api/agent/check.html

[2018-07-12 08:13] yfouquet commented on #340
hi @sliabat,
The code does not split a string for script into an array; the usage of `Args` was not added and we were still based on single string `Script`.
I pushed a fix that should meet your needs.

[2018-07-18 03:26] dennanisny opened #342 "ServiceHealthCache listener not triggered when service's health check turns passing"
I have a service that takes about 2 minutes to start up, and the TCP health check (viewed from Consul Web UI) remains critical during the start-up period and turns green when the start-up completes.
My use case is that I need to perform some task both when the service's health check turns critical and passing.
My services are running as Docker containers and they are added/removed from Consul auto

[2018-07-18 07:48] yfouquet commented on #342
Hi @dennanisny,

I've tryed to reproduce your issue and i got that:
- the listener is trigger "immediately" on cache startup; with no value as Consul returns an empty result. This is expected as it is not an error.
- the listener is called after every service status change.

Is the "test" tag added to all your services in Consul? Can you ensure that calling `http://<consul_host>:<consul_port>/v1/h

[2018-07-18 08:19] dennanisny commented on #342
Hi @yfouquet ,

Thanks for your quick response!
I'm using Consul 1.2.0 and consul-client 1.2.1.
Calling the url you provided did return my endpoints as expected.
However I noticed that for each service there is an additional Check as below besides the TCP check I specified.
Could it be due to the fact that this check was passing, the listener was triggered?
If that is the case, is there a way to i

[2018-07-18 08:29] yfouquet commented on #342
This check is the consul agent check. It is present for every service.
You should not worry about it as a service is passing only if all checks are passing.

Thanks for sharing the checks.
One more question: when you said that the listener was notified at startup, are your services sent to the listener? or is it empty notification?

[2018-07-18 08:43] dennanisny commented on #342
I just checked that when the listener is notified at startup, the new service (with its health check still failing) is sent to the listener.

[2018-07-18 08:51] yfouquet commented on #342
I know understand that you are notified with unhealthy service; am i correct?
Can you send the checks when your service is starting (not yet passing) so that i can reproduce the issue (using a mock agent).

[2018-07-18 09:00] dennanisny commented on #342
That's correct.
Is this the "checks" your were referring to?
[code]

[2018-07-18 09:16] dennanisny commented on #342
I would like to add some more findings.
For each service, the listener is notified twice: first when the service is added (and unhealthy), then when the critical check turned passing.
Hope this helps.

[2018-07-18 09:33] yfouquet commented on #342
I am using the following listener:
[code]
And i get the following result:
[code]

I get a notification with no endpoints at startup (when `critical`), then 1 endpoint (when switch to `passing`). I get the same result with a mock using your checks.

[2018-07-18 09:49] dennanisny commented on #342
Sorry that I just realized this is because I added `SERVICE_CHECK_INITIAL_STATUS: "passing"` as environment variable to the service's container definition, which forces the check to be passing on startup.
Apologies for the false alarm and thanks again for all the checking and advice!

[2018-07-18 09:54] #342 closed

[2018-07-26 20:14] ixe013 opened #343 "Example 4 "Blocking call for value" not blocking"
I can't make the [blocking read code example to work](https://github.com/rickfast/consul-client#example-4-blocking-call-for-value).

I was expecting this call to block, but it does not:
[code]

If I do a long `Thread.sleep` after that call and change the watched value in Consul, `onComplete` will be called with the modified value. Using wireshark, I see the request go out as expected, with the one

[2018-08-01 11:35] yfouquet commented on #343
Hi @ixe013,

I think that i understand your concern.
This piece of code is an infinite loop that calls the local Consul agent constantly to get the up-to-date value for the `foo` key.
However, as you found out, it is supposed to run in a dedicated thread, or something similar.
If you just run this piece of code, it will terminate before the call of the callback.
You could add any synchronisation m

[2018-08-01 11:51] #340 closed

[2018-08-01 13:07] ixe013 commented on #343
Thanks, it answers my question. The idea is that when `onComplete` read a new value, it would update a cache that would always hold the latest value for a given key in near real time. My use case is really to block the current thread until a value is written to a key (or until timeout is reached).

For the record, I have added `notify` to `onComplete`, something like this

[code]

And further down

[2018-08-01 13:07] #343 closed

[2018-08-03 19:47] yfouquet commented on #274
Now fixed.
Thanks @teoincontatto

[2018-08-03 19:47] #274 closed

[2018-08-03 19:52] yfouquet commented on #231
Hi @ryansmithevans,
Do you have a use case for that?
I don't really see how we would do so as `Consul` is pretty much a wrapper around an instance of `OkHttpClient` which has no hashcode/equals.

[2018-08-03 20:13] yfouquet commented on #225
Hi guys,

I cannot reproduce your issue with the current version (which i admit has evolved since your issue was created. Calling `getValue` with non existing path returns an `Optional.empty()`.
[code]
If you still encounter the issue, feel free to reopen the issue.

[2018-08-03 20:13] #225 closed

[2018-08-03 20:21] yfouquet commented on #234
Hi @sverhagen,
It has been fixed in 1.0.1 (see [57a7462](https://github.com/rickfast/consul-client/commit/57a74626f4ed7a42d26cbcea034681e00f92050f)).
Thanks for the notice.

[2018-08-03 20:21] #234 closed

[2018-08-03 20:27] yfouquet commented on #257
Hi @shortstories ,

A fix to your issue has been merged in 1.0.1 (see [29cb189).](https://github.com/rickfast/consul-client/commit/29cb189d86c061c37df5256b350cbf1d1ce5ea79)
A method is available to specify the Charset: `KeyValueClient#getValueAsString(String, Charset)`

[2018-08-03 20:27] #257 closed

[2018-08-03 20:29] #214 closed

[2018-08-10 23:54] dnault opened #346 "Example #5 in the README is out of date"
In "Example 5: Subscribe to healthy services", need to replace `HostAndPort` with `ServiceHealthKey` in order for it to compile.

[2018-08-11 14:18] zz85 commented on #329
I'm facing this problem with Consul 0.6 too. Can https://github.com/rickfast/consul-client/blob/master/src/main/java/com/orbitz/consul/model/catalog/TaggedAddresses.java#L20

be changed to
[code]

to fix this?

[2018-08-11 20:31] yfouquet commented on #329
Making it optional will have no impact on recent version of Consul. So, let's make it available.

[2018-08-12 17:38] yfouquet commented on #346
Hi @dnault,
Thanks for the notice, we will update it soon.

[2018-08-13 06:58] #346 closed

[2018-08-13 06:59] #329 closed

[2018-08-13 06:59] #253 closed

[2018-08-14 00:34] BenjaminLang opened #350 "Release"
Hi, is it possible to get a new release of consul client?

[2018-08-14 16:30] #350 closed

[2018-08-17 18:55] heanssgen-troy opened #351 "Agent Force-Leave Call Sending GET instead of PUT request"
There is a bug where the okhttp client is receiving a servicemethod object with the HTTP verb PUT, however when it goes out the door the verb is GET (Which rightfully returns a 405 on consul's side).

We can see this happening if you install a breakpoint in eclipse on the Handle method (line 36 of Http.class).

This was tested on version 1.2.2 as well as version 1.2.3 where we discovered the bug.

[2018-08-18 14:14] agoncal opened #352 "How do I mock the Consul client call ?"
Hi,

I use the consul-client API to register services within Consul. The code looks like this (simplified version) :

[code]

This class being triggered at Startup, I need to mock the registration to Consul... but I don't know how to do it with Mockito. I've tried several things like :

[code]

But I always get an exception because the `AgentClient` is trying to ping Consul:

[code]

Any idea on h

[2018-08-18 15:53] yfouquet commented on #352
Hi @agoncal,

In the example, your are creating a mock of the Consul builder `consulBuilderMock` which will return the mock of Consul `consulMock`, etc. However, `consulBuilderMock` is not used as `Consul.builder()` will not use your builder.
There are two ways to actually to it:
1. Mock the static call to `Consul.builder()` using Powermock for instance. But i would not recommend that.
2. Inject a

[2018-08-18 15:58] yfouquet commented on #351
Hi @heanssgen-troy,

A similar issue was reported by @wanghuatao a few months ago (issue #281 ).
We will have a look at it.

[2018-08-18 18:49] agoncal commented on #352
But if `Consul` is created buy the `Builder`, shouldn't the `Builder` be the one being injected (except that it's a static class and it can't using CDI and `@Inject`) ?

[2018-08-18 19:33] yfouquet commented on #352
Yes, you can also inject the builder. I'm not familiar with the framework but i don't see any problem to inject it.

[2018-08-18 20:03] yfouquet commented on #351
After some tests, the issue is not related to #281 even though the side effects (PUT to GET) are the same. The fix is under review.

[2018-08-18 20:06] yfouquet commented on #281
The issue is due to the "/" in your service id that leads the Consul agent in error.
The issue is known by hashicorp. See issue https://github.com/hashicorp/consul/issues/2813 entitled "Consul issues 301 response to deregister requests with / in the service ID".

[2018-08-18 20:08] yfouquet commented on #281
Closing the issue as '/' in the service ID is valid; the Consul agent is to be fixed.

[2018-08-18 20:08] #281 closed

[2018-09-05 18:10] edio opened #355 "undesired url-encoding of nested keys in kv"
*Steps to reproduce:*
[code]

*Expected result:*
request is made to
[code]

*Actual result:*
request is made to
[code]

Thus its impossible to read a nested key from consul KV.
Perhaps I'm missing something and there is a way to get value of a nested key, I'd appreciate if you explained or pointed to documentation.

Thanks

[2018-09-13 15:02] bearrito opened #356 "Shaded Jar brings in excluded dependencies"
Maybe this is an issue with gradle, but I still see the excluded dependencies in my dependency lists.

I have no other dependencies that pull those particular libs

![shaded_jars](https://user-images.githubusercontent.com/1908139/45496923-78f85580-b744-11e8-8595-d54f9af11e66.png)

[2018-09-14 19:01] rickfast commented on #356
never seen that before. have you tried a different version than latest?

[2018-09-15 02:10] bearrito commented on #356
I'm going to mark this as a gradle issue.

`gradle dependencies`  shows this as loading correctly

[code]

[2018-10-05 13:13] DidiBear opened #358 "Add NodeMeta in the CatalogRegistration"
The CatalogRegistration object does not contains information about NodeMeta whereas it can be specify in the HTTP API : https://www.consul.io/api/catalog.html#register-entity

Can you add this field ?

[2018-10-23 09:15] akshat-g opened #359 "Is there any size limit (key size) on KVCache? Also how do I initialise KVCache map?"
I am trying to watch for changes in consul via KVCache. KVCache map is a cache structure that can provide an up-to-date read-only data. But when I do kvcache.getmap(), it always return null. How do I get all the values in the consul using kvcache map?

Also I could not find any ttl for this cache. It would store values till this cache is closed if I am not wrong.

Thanks

[2018-10-23 12:56] #359 closed

[2018-11-23 06:57] abhayJava opened #361 "All the keys are called in listener when value of only 1 of the key changes"
if there are 3 keys k1,k2,k3 in /dummy/ folder in consul. If value of one of the key changes then in newValues.keySet() gives list of all the 3 keys. Ideally the set should contain only k1.

cache.addListener(newValues -> {
				Set<String> keys = newValues.keySet();
}

Is there any way to configure so that I receive only k1

[2018-11-28 20:09] rickfast commented on #361
unfortunately, consul doesn't tell clients what key changed when performing a watch. your best bet is to do a comparison with the previous set of values.

from the Consul website:

[2018-11-28 20:09] #361 closed

[2018-12-15 08:17] acidghost opened #363 "Why is there no support for agent/connect API?"
Ref. https://www.consul.io/api/agent/connect.html

[2019-01-16 09:08] San-Troy commented on #361
Will this project support "key" watch type rather than only "keyprefix" in the future? So that specific keys can be watched separately even if they hava a common prefix.

I noticed that parameter "recurse" in url is always set to "true". May it help if make "recurse" be optional ?

[2019-02-08 04:22] vspattanshetti opened #368 "Need info: Do you support clustering/HA related operations?"
Hello
Do you support Clustering related operations? I am looking to use consul as a KV store and for clustering/HA..
Thanks and regards
-Vishwa

[2019-02-09 15:36] rickfast commented on #368
Consul itself supports this itself. The client should only care about the local agent. High availability is something you get out of the box with Consul server/agent architecture.

[2019-02-09 15:49] #352 closed

[2019-02-09 15:50] #231 closed

[2019-02-10 06:09] vspattanshetti commented on #368
Do you have leader election implemented ? Is there anything specific an application has to do in order to support leader election related functionalities..   May be i asking a dumb question here. I new to these concepts and hence this question

[2019-02-15 03:14] sunchuanleihit opened #369 "bug need fix in com.orbitz.consul.util.Http.consulResponse()"
https://github.com/rickfast/consul-client/blob/c108b4f8ff46d4a58e40410bec7de2e646e738b0/src/main/java/com/orbitz/consul/util/Http.java#L121

if lastContactHeaderValue is too long,there will throw NumberFormatException, this will Interrupt cycle.

[2019-02-18 02:59] sunchuanleihit commented on #369
fixed in  https://github.com/rickfast/consul-client/commit/cb2e3c75d9a0546cf77233c7a42cd1aa918d50e5

[2019-02-18 02:59] #369 closed

[2019-02-22 05:25] denglifeng3 opened #372 "How can I define timeout in session lock? Can the session lock cross datacenter?"
I try to create a new session like this: ImmutableSession.builder()
                    .name(sessionName).ttl("10s").behavior("delete").build()
But the session is not deleted after 10s.
Here is my all code:
`@Override
    public boolean lock(boolean block) {
        final boolean[] flag = {true};
        List<String> dcList = CONSUL_CLIENT.catalogClient().getDatacenters();
        out:
        wh

[2019-02-22 09:03] reivvax opened #373 "Regex support for KV Cache"
Hello,
Is the newCache() method supports regex as the rootpath parameter ?
Giving the following code :

`final KeyValueClient kvClient = this.consul.keyValueClient();`
`final KVCache cache = KVCache.newCache(kvClient, "env\/.*\/folder\/");`

Would the cache be listening to the following path for example : env/6546518/folder/ ?

[2019-02-26 13:13] msymons opened #374 "Update slf4j.version to 1.7.26 to address CVE-2018-8088"
consul-client uses 1.7.21 for `slf4j.version`

Update to 1.7.26 to resolve critical threat [CVE-2018-8088](https://nvd.nist.gov/vuln/detail/CVE-2018-8088)
CVSS 3.0 score = 9.8

Whether or not consul-client is actually vulnerable is irrelevent...  it's easy to update the SLF4J version and this will stop analysers (Nexus IQ, Dependency-Track, etc) from generating warnings.

[2019-02-26 13:19] msymons opened #375 "Update guava to 24.1.1 or later to address CVE-2018-10237"
consul-client uses 22.0 for `guava.version`

Update to 24.1.1 (or later) to resolve medium threat [CVE-2018-10237](https://nvd.nist.gov/vuln/detail/CVE-2018-10237)
CVSS 3.0 score = 5.9

Whether or not consul-client is actually vulnerable is irrelevent...  updating the guava version will stop analysers (Nexus IQ, Dependency-Track, etc) from generating warnings.

[2019-02-27 14:43] rickfast commented on #373
This is more of a Consul question than a question about this client. I doubt that Consul supports this use case, and this client simply wraps the Consul APIs

[2019-02-27 15:08] reivvax commented on #373
Thanks for the answer.

Yes indeed, Consul API does not look to support this use case.

[2019-02-27 15:08] #373 closed

[2019-03-09 00:02] ziarek opened #376 "Cached API support"
Hi guys,

While performing a service health check the request below is sent to Consul agent.

I'd like to use cached query and perform below request

Is the **?cached** parameter supported by this library?

Cheers

[2019-03-12 18:03] #375 closed

[2019-04-02 17:40] pravinrepo opened #378 "why is there no AgentClient getService(serviceId) method using GET/agent/service/:service_id?"
why is there no AgentClient getService(serviceId) method using GET/agent/service/:service_id? I see AgentClient getServices() method returning Map of all services, however, If I have serviceId available,
 I would like to exercise  Consul 1.3.0 HTTP API GET/agent/service/:service_id to return Service object based on service_id.

[2019-04-03 19:16] hemantkhurana commented on #378
+1 for this missing API. This seems to be the onlyAPI supporting blocking queries and want to use if for my implementation. Any chance we can get this soon?

[2019-04-09 20:14] rickfast commented on #378
PRs welcome. Probably wouldn't take too long to implement - Unlikely I will get to this in the next few weeks

[2019-04-09 20:17] rickfast commented on #376
that's a newer feature in Consul that hasn't been implemented. PRs welcome

[2019-04-11 04:02] Crim opened #379 "version 1.3.3 released on maven central, but no release here?"
Looks like 1.3.3 is on [maven central](https://mvnrepository.com/artifact/com.orbitz.consul/consul-client/1.3.3) but nothing in this github project?

[2019-04-11 11:14] rickfast commented on #379
the tagging got messed up. the last 1.3.2 is actually 1.3.3

[2019-04-11 23:56] Crim commented on #379
Got it, just making sure something nefarious hadn't happened :)

[2019-04-11 23:56] #379 closed

[2019-04-15 07:15] chuej opened #380 "Watch on service list"
Have a requirement for watching list of services `/v1/catalog/services`. Trying to put together a PR, running into an issue. This is what I'm trying to do:

[code]

I need `CallbackConsumer` to be able to handle this case as a single object, not as a list. Thinking about expanding to an abstract class like so:

[code]
Blundering through the codebase and probably missing a lot here, would love some

[2019-04-18 02:40] John20001 opened #381 "Java 11 can't use SSL: clientBuilder.sslSocketFactory(SSLSocketFactory) not supported on JDK 9+"
I recently migrated my project to Java 11. I found now that consul works fine with HTTP, but when I use HTTPs via:

[code]

I get:

[code]
Can anyone recommend a workaround or fix for this issue? I think it may be a problem with using the default SSLContext. Perhaps if I could provide my own X509TrustManager via the ```builder.withTrustManager(X509TrustManager)``` method. This makes the build go i

[2019-04-18 11:18] rickfast commented on #380
not sure i understand what you're trying to do. consul is always going to return all of the services when something changes (not just the one(s) that changed), so i'm not sure why it matters if you get the callback with a list or not?

[2019-05-16 05:09] bdhayakar opened #383 "Can you please provide support to pass X-Consul-Token in header"
Hi,

Does the library support passing "X-Consul-Token" in headers.
As per consul documentation https://www.consul.io/api/index.html, passing token as query parameter is discouraged.
Is there any plan to implement this feature.

Thanks
Dayakar

[2019-05-30 11:07] msymons commented on #374
Released in consul-client 1.3.3 (a version available in Maven but not listed on "releases").
So, use 1.3.4 (or later) to be sure,

[2019-05-30 11:07] #374 closed

[2019-05-30 13:32] rickfast commented on #383
fixed by #384

[2019-05-30 13:32] #383 closed

[2019-05-31 03:47] bdhayakar commented on #383
@rickfast , Thanks for the update.

[2019-07-15 02:45] pranabgarad opened #387 "ConsulCache creates new executor service for every service in ServiceHealthCache."
I have a requirement where I am listening for the list of healthy nodes for every service.

Following is the code snippet for 2 services say "service1" and "service2"

ServiceHealthCache serviceHealthCache1 = ServiceHealthCache.newCache(consul.healthClient(), "service1", true, QueryOptions.BLANK, 30);
        serviceHealthCache1.addListener(serviceMap -> {
            System.out.println(" serviceM

[2019-07-22 07:35] jiancaiHub opened #388 "okhttp3 version need upgrade to Use OkHttp 3.12.2 or newer."
According to example build a acl `Consul `, but it failed to run
issus
[code]
then find this :

I think `consul-client` need to upgrade okhttp3's version.

[2019-07-23 04:53] pranabgarad commented on #387
Can anyone provide some inputs?

Thanks

[2019-07-23 16:53] studouglas-scx opened #390 "EventClient.listEvents ignores QueryOptions"
The following methods in EventClient do not use queryOptions:
[code]

consul-client version: 1.3.6

[2019-08-08 23:07] StuporHero opened #392 "Extract an interface from the Consul class"
I'd like to be able to delegate to the `Consul` class so I can create a `ValidatedConsul` class in my own project that lets me inject my own custom validations into its methods without having to sprinkle validation code through my entire project. Ideally, `Consul` would be the name of the Interface and `DefaultConsul` or `ConcreteConsul` would be the class name, which would be a breaking change re

[2019-08-12 13:17] #390 closed

[2019-08-12 13:35] rickfast commented on #388
fixed in 1.3.7

[2019-08-12 13:35] #388 closed

[2019-08-15 16:36] vidhyavenkat12 opened #393 "Subscribe to a leader change"
I have a requirement to perform some operations whenever the leader changes. Do we already have support for this?

Thanks!

[2019-08-16 07:25] hemantkhurana opened #394 "Http connection refused error with Consul client"
I am using consul client version 1.2.0 in my application. Often I keep seeing connection issue between the Consul client and the local Consul agent/cluster.

Caused by: com.orbitz.consul.ConsulException: Consul request failed
	at com.orbitz.consul.util.Http.executeCall(Http.java:51)
	at com.orbitz.consul.util.Http.extract(Http.java:30)
	at com.orbitz.consul.CatalogClient.getDatacenters(CatalogClie

[2019-09-03 12:13] alespuh commented on #387
1.3.7 has possibility to pass your own executor service, here: https://github.com/rickfast/consul-client/pull/389

But it has a bug that happens when you call stop() on a cache - it will stop passed executor service which will basically stop all other caches that are using the same executor service. If you are stopping it only on app exit, then you are ok, I think.

Anyway, https://github.com/rick

[2019-09-03 12:23] alespuh opened #397 "Please release 1.3.8 with latest changes"

[2019-09-04 15:09] pranabgarad commented on #387
@alespuh
Thanks for your reply. When will the fix #396 be released?

Regards,
Pranab

[2019-09-04 16:27] alespuh commented on #387
Who knows, it's up to the owner. I added https://github.com/rickfast/consul-client/issues/397 issue, so maybe it's noticed

[2019-09-20 02:00] rickfast commented on #397
sorry - been away. will do it now.

[2019-09-20 02:04] #397 closed

[2019-09-23 09:24] alespuh opened #398 "Please release 1.3.8 with latest changes"
Please close it **after** release is done

[2019-09-26 17:03] rickfast commented on #398
https://mvnrepository.com/artifact/com.orbitz.consul/consul-client/1.3.8

1.3.8 has been available since the 20th.

[2019-09-26 17:03] #398 closed

[2019-09-26 17:10] alespuh commented on #398
I somehow missed that, thanks!

[2019-10-22 10:00] wangsan opened #401 "QueryOptions didn't contain filter option"
How can I set filter params when I use agent service api  or health api？
According to the page： https://www.consul.io/api/features/filtering.html

[2019-10-23 20:23] rickfast commented on #401
this is a newer consul feature that hasn't been added to this client yet. its unlikely that i will get to this in the near future, unfortunately. PRs welcome

[2020-01-02 08:19] ttj4 opened #404 "NoSuchMethodError"
I am working on a grpc project using consul. With grpc-protobuf there is a guava dependency com.google.guava:guava [version:26.0-android] and with consul com.google.guava:guava [version:22.0].

Since maven automatically links grpc dependency of guava and throws the following error

`java.lang.NoSuchMethodError: com.google.common.base.Stopwatch.elapsed()Ljava/time/Duration;
	at com.orbitz.consul.ca

[2020-01-07 11:18] Abrar-Snap commented on #239
Can I know what was causing this socket closed exception?

[2020-01-14 04:40] GreedyPirate opened #406 "How can there be so many compile problems"
In consul-client pom.xml, this dependency use provided scope, it not reasonable
[code]
so I add this to my project, it works
[code]

then I find so many issue about NoSuchMethodError
[code]

for this one， I add
[code]

another issue happens
[code]

same solution
[code]

all problems start here： Consul$Builder.build， so just fix it quickly

[2020-01-15 18:12] cricket007 commented on #305
bump @rickfast

[2020-01-15 18:13] cricket007 commented on #406
immutables is an annotation-processor, it should therefore only be compiled.

https://immutables.github.io/getstarted.html

[2020-01-15 18:15] cricket007 commented on #404
Latest guava is 27-1 : https://github.com/rickfast/consul-client/blob/master/pom.xml#L37

[2020-01-17 14:27] rickfast commented on #406
"so just fix it quickly".

try again. maybe tell me what you're trying to do. if you're trying to develop against this repo, then read the readme. if you're trying to link this project, and you're seeing NoSuchMethodExceptions, you likely have conflicting dependencies.

[2020-01-17 14:33] rickfast commented on #404
what @cricket007 (thanks!) said. closing

[2020-01-17 14:33] #404 closed

[2020-01-24 17:09] IRQs opened #407 "Upgrade dependency to Jackson 2.10.x"
Dear contributors, I use your excellent Consul client in combination with quite a lot of other frameworks/clients (e.g. Dropwizard 2.0) that also depend on Jackson. All other clients have already migrated to Jackson 2.10.x (also using dependabot), resulting in compile time issues unless I explicitly exclude the Jackson dependencies from your Consul client.

There is already a pull request that wou

[2020-01-25 12:20] GreedyPirate commented on #406
my solution is right，and it works，I hope people who have the same problems can see

[2020-01-25 12:20] #406 closed

[2020-01-25 15:04] cricket007 commented on #406
Happy it works for you, but it also works for me without chasing external dependencies.

Make sure you bundle an uber jar when you run the code

[2020-01-28 22:45] hansenc commented on #225
@yfouquet this happens with `getKeys` and not with `getValue` or `getValues`.  This happens for me with version 1.4.0 (current latest).
[code]
Stacktrace:
[code]

[2020-01-28 22:48] hansenc opened #408 "KeyValueClient.getKeys doesn't support the 'separator' query param"
For reading/writing config values with Consul KV, I want to be able to list keys only and limit the results using the [separator query param](https://www.consul.io/api/kv.html#separator). However, `separator` doesn't seem to be supported by `KeyValueClient` or `QueryOptions`.

For example, given the keys:
[code]
I would like to be able to query for `one`, `two`, and `three`. With the KV API: `curl

[2020-01-30 20:31] rickfast commented on #407
wasnt the intention, i just don't have a ton of time for this repo lately. pls feel free to investigate. thanks

[2020-01-30 21:49] #408 closed

[2020-02-23 17:45] kouzant opened #412 "How to include shaded version in pom"
Hi and thanks for the great work on this client.

A rather tedious question. How can one use the shaded version in their project's pom file?

[code]

The dependency above downloads the un-shaded version.

[2020-02-24 12:29] sparkforreg opened #413 "AgentClient.registerCheck throw exception with message Request decode failed: json: unknown field "Output" after migration to consul 1.7.1"
Client version 1.4.1

[2020-02-24 13:55] sparkforreg commented on #413
https://github.com/rickfast/consul-client/pull/411 fix my issue. Please approve it

[2020-04-10 04:08] yangruilin1988 opened #415 "the AgentClient.java code bug"
the AgentClient.java line 702
@PUT("agent/force-leave/{node}")
 Call<Void> forceLeave(@Path("string") String node);
should be
@PUT("agent/force-leave/{node}")
 Call<Void> forceLeave(@Path("node") String node);

[2020-04-16 17:01] jcass8695 opened #416 "No releaseLock method exposed in the KV Client to preserve the existing value"
Currently there is no override of the `releaseLock` method exposed in the KV client that allows the user to preserve the existing value in the KV store.

The existing method does not take a `value` parameter, causing the underlying PUT API call to overwrite whatever value is currently in the store with an empty string.

The `acquireLock` method _does_ expose such a method, so a fix would be to mim

[2020-06-30 15:10] dekimsey opened #421 "API ping() uses an endpoint that is secured by ACLs"
Issue

We were debugging an issue `CONSUL_HTTP_TOKEN` would cause the application not to start. We found the [ping() ](https://github.com/rickfast/consul-client/blob/e875110c1a62904c2c1f669165321c509ab8ad83/src/main/java/com/orbitz/consul/AgentClient.java#L684) call was hitting `agent/self` which requires the `agent:read` [privilege](https://www.consul.io/api-docs/agent#read-configuration). Our to

[2020-07-23 11:47] sareenakoya opened #422 "How to consume a rest service with this client?"
Please give some information to consume web service; to access already exposed service with consul from java.

[2020-08-02 13:45] yancheng199287 opened #423 "Why do two callbacks happen?"
val svHealth = ServiceHealthCache.newCache(healthClient, serviceName, false, 10, QueryOptions.BLANK)
        svHealth.addListener { newValues: Map<ServiceHealthKey, ServiceHealth> ->
            run {
                println("----------------")
                logger.info(JSON.toJSONString(IMServerInstance.parserConsulClientServiceInstance(newValues)))
            }
        }
        svHealth.star

[2020-08-02 13:46] yancheng199287 commented on #423
update

[2020-08-02 13:48] yancheng199287 commented on #423
I wrote it in kotlin，thanks

[2020-08-25 08:22] getjack commented on #352
@agoncal This piece of code works for me without injection.

[code]

Be sure to use the mockito-inline depedency (for now)

[2020-10-19 10:02] hdevalke opened #431 "DebugConfig deserialization for agent/self"
The call to `/agent/self` fails when using consul 1.8.4

[code]

[code]

From the documentation, DebugConfig is an internal data structure and should is subject to change:

All fields in `DebugConfig` are better made optional or nullable.

[2020-10-26 15:01] YuanPan commented on #189
@Arun-Trichy how did you solved the problem?

[2020-11-18 19:03] #431 closed

[2020-12-12 11:56] Romastyi opened #434 "Not binary compatible with `guava:x.x-adnroid`"
Hi! In project besides`consul-client` there other libraries which has a transitive dependency from `com:google.guava:guava:30.0-android`. So `com:google.guava:guava:30.0-android` wins during dependency resolution. And in runtime an error occurs:
[code]

So it happens because function `stopWatch.elapsed()` is called [here](https://github.com/rickfast/consul-client/blob/48f7276320dafd114de3fd940567a

[2020-12-29 10:47] goudai opened #436 "Consul request failed with status [400]: Request decode failed: json: unknown field "ServiceWeights""
# java code
[code]
## docker run
[code]
exception
[code]

[2021-01-07 11:34] lwsbox commented on #423
maybe cased by your health indicator changed

for example:
`{"status":"UP","diskSpace":{"status":"UP","total":117081018368,"free":26488745984,"threshold":10485760},`
if the free indicator changed would run the callback.

Maybe should avoid this situation?

[2021-01-08 19:56] dnault opened #437 "AgentClient.getAgent() fails with Consul 1.8.4 and later"
To reproduce the issue, run Consul 1.8.4 or later on localhost and default port, and then:

    Consul consul = Consul.builder().build();
    System.out.println(consul.agentClient().getAgent());

This fails with an exception whose root cause is:

    Caused by: java.lang.IllegalStateException: Cannot build DebugConfig, some of required attributes are not set [logLevel, enableSyslog]
        at com

[2021-01-08 20:04] dnault commented on #437
According to the [Consul documentation for this endpoint](https://www.consul.io/api-docs/agent#read-configuration) (emphasis added):

Instead of exposing the DebugConfig as a POJO in the Consul client API, perhaps it would be less brittle to expose this information as a Map<String,Object> or some other way that doesn't depend on the structure of the JSON response.

[2021-01-08 20:11] dnault commented on #437
Duplicate of #431

[2021-01-08 20:11] #437 closed

[2021-01-27 23:08] kkonstantin42 commented on #436
We are experiencing the same issue. That's happening because the field should be called 'Weights', not 'ServiceWeights' (at least in the latest consul version): https://www.consul.io/api-docs/agent/service#register-service
The error is also reproducible by running integration tests, e.g.:
`shouldSetWarning(com.orbitz.consul.AgentITest)  Time elapsed: 0.003 sec  <<< ERROR!
com.orbitz.consul.ConsulE

[2021-02-02 23:17] dmelemed commented on #436
I am also experiencing this issue. Thanks for working on a fix.

[2021-03-05 10:53] rutuls commented on #376
I need to implement the scenario in service1 where I want to know health of service2 and if it is up/running then will take action accordingly. I want to know the health of a service on a separate thread or basically in a non-blocking way. How do I implement it using catalog watch ? Is there any other way to implement as well ? Are there any examples available ?

[2021-03-14 12:37] #434 closed

[2021-03-14 17:44] rickfast commented on #436
This is fixed in 1.5.1

[2021-03-14 17:44] #436 closed

[2021-05-21 10:11] dschulten opened #443 "Fails to retrieve keyValue in folder by key"
Consul allows to organize keyValues in folders, which then become part of the URL path.

In the example below, _resources/_ is a kv folder and `my.key` is an actual keyValue pair.

_http://consul.example.com/v1/kv/resources/my.key_

Unfortunately `KeyValueClient.getValue()` urlencodes a key with folder prefix such as _resources/my.key_ and requests _/v1/kv/resources%2fmy.key_ , which fails with 40

[2021-05-23 08:20] dschulten commented on #443
The reason that the keys are encoded are the `@Path` annotations on the methods in `KeyValueClient.Api`. Their `encoded` property is `false`, which causes `RequestFactory` to create a `ParameterHandler.Path` that encodes the entire key.

[2021-07-29 13:48] ecolinet opened #451 "checkWatch networkReadMillis < cacheWatchSeconds ?"
Hi,

I don't understand why the networkReadTimeout is enforced to be higher than the cacheWatch value. Shouldn't be the opposite ?

https://github.com/rickfast/consul-client/blob/b0c56fc1ca7f9320ad67bd5860dd49245251f115/src/main/java/com/orbitz/consul/cache/ConsulCache.java#L411

Thanks,
Eric

[2021-08-04 10:11] arnoldyahad opened #452 "Support streaming endpoint /v1/health/service/:serviceName?cached"
Hey guys,
Recently(From version 1.9~ if i'm not mistaken) consul started to support streaming on the `/v1/health/service/:serviceName`.
That means that by adding `cached` argument to that API it stresses the consul servers much less.

Its explained much better here:
https://medium.com/criteo-engineering/consul-streaming-whats-behind-it-6f44f77a5175
(it's written by @pierresouchay)
https://www.cons

[2021-08-04 10:25] pierresouchay commented on #452
Hello @arnoldyahad ,

If you look at another article https://medium.com/criteo-engineering/configure-consul-for-performance-at-scale-f6a089706377, you'll see everything is already there in #405

Regards

[2021-11-15 11:42] windonis opened #457 "com.orbitz.consul.ConsulException: Consul cluster has no elected leader"
Hi Everyone,

We have very huge consul cluster and some project needs `consul-client-1.3.3` for cbes integration.

But we are getting error as below.

[code]

I'm sure there is no problem with the consul cluster because the other 4000 clients are working fine. (_In particular, there is no such thing as the absence of a leader._) Due to some problems we are not using a version greater than 1.3.3.

[2021-11-23 16:55] skpenpen opened #458 "Recurse to false in delete options not working"
https://github.com/rickfast/consul-client/blob/cb738bff54032ed1303219bcd1e7aeca89a56f49/src/main/java/com/orbitz/consul/option/DeleteOptions.java#L25

This return tif the value is present not if the value is true or false, if you set the value tu false, this reurns trus...so the query is send with recurse = true

[2021-11-23 18:21] kazuare commented on #457
Hi,
I also get 'Consul cluster has no elected leader', despite both UI and statusClient.getLeader() stating that there is a leader.
Turning off streaming fixed my issue. I suspect this is connected to https://github.com/rickfast/consul-client/pull/456 , but i dont have super-solid evidence

[2021-11-29 12:26] ElfoLiNk commented on #451
I think https://github.com/rickfast/consul-client/pull/453 will address this

[2021-12-23 08:46] Yanghsuanming commented on #457
how to Turning off streaming ?

[2021-12-23 10:53] kazuare commented on #457
there is "use_streaming_backend" key in consul node configuration to control that

[2022-07-25 12:29] ecolinet opened #462 "Update okhttp to version 4.9.2"
Hi,

Is it possible to upgrade okhttp to version 4.9.2 to fix https://snyk.io/vuln/SNYK-JAVA-COMSQUAREUPOKHTTP3-2958044 ?

Thanks,
Eric

[2022-09-23 07:14] nicolaos commented on #259
Hello, we have the same problem of reloading the token when it expires.
@dyeshurun can you please share the workaround with ConsulBookend you mentioned?
I am finding it hard to intercept the 403 on callbacks and consequently stop all services caches and property caches without incurring in interrupted exceptions.

[2022-10-10 19:55] cgauldin opened #469 "Open CVEs against consul-client 1.5.3"
Guava API has a known vulnerability: [CVE-2020-8908](https://nvd.nist.gov/vuln/detail/cve-2020-8908)
Jackson Databind has a known vulnerability: [CVE-2020-36518](https://nvd.nist.gov/vuln/detail/cve-2020-36518)